<style>
    .modal-header{
        background-color: #E75753 !important;
        color: white !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        margin: -15px 0px 0px 0px !important;
    }

    .modal-footer{
        padding: 0px!important;
        margin: 0px !important;
        height : 100% !important;
    }

    .modal-footer #okButon{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }

    .modal-footer #okButon:hover{
        box-shadow  :  0 0 10px rgba(35,173,255,1);
        background-color : rgba(35,173,255,1);
        color : white;
    }

    .modal-footer #okButon md-icon{
        padding-left: 11px !important;
        border-left: 1px solid rgba(35,173,255,1);
    }

    .modal-footer #okButon:hover md-icon{
        color : white;
        border-left: 1px solid white !important;
    }


    .modal-footer #cancelButon{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }

    .modal-footer #cancelButon:hover{
        box-shadow  :  0 0 10px rgba(255,134,29,1);
        background-color : rgba(255,134,29,1);
        color : white;
    }

    .modal-footer #cancelButon md-icon{
        padding-left: 5px !important;
        border-left: 1px solid rgba(255,134,29,1);
    }

    .modal-footer #cancelButon:hover md-icon{
        color : white;

        border-left: 1px solid white !important;
    }

    .modal-footer  section md-button{
        padding-left  : 0px !important;
        padding-right : 0px !important;
    }

    .modal-footer  section md-button md-icon{
        border-left: 1px solid rgb(197, 197, 197);
        padding-right: 0px  !important;
        padding-left: 6px  !important;
    }
    .sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
        -webkit-transition:all linear 1.5s;
        -moz-transition:all linear 1.5s;
        -o-transition:all linear 1.5s;
        transition:all linear 1.5s;
        display:block !important;
    }

    .sample-show-hide.ng-hide-add.ng-hide-add-active,
    .sample-show-hide.ng-hide-remove {
        -webkit-transition:all linear 0.2s;
        -moz-transition:all linear 0.2s;
        -o-transition:all linear  0.2s;
        transition:all linear  0.2s;
        opacity:0;
    }

    .sample-show-hide.ng-hide-add,
    .sample-show-hide.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition:all linear 3s;
        -moz-transition:all linear 3s;
        -o-transition:all linear  3s;
        transition:all linear  3s;
        opacity:1;
    }

    .animate-if {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    }

    .animate-if.ng-enter, .animate-if.ng-leave {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    }

    .animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
        opacity: 0;
    }

    .animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
        opacity: 1;
    }



    .modal-body .showPropertyGroupModal{
        /*border: 1px solid rgb(197, 197, 197);*/
        padding: 4px;
        margin: 2px;

        max-height: 250px !important;
        min-height: 250px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }

    .modal-body .select-table{
        max-height: 200px  !important;
        overflow-y: auto  !important;
        overflow-x: hidden  !important;
        margin-bottom: 10px;
    }

    .modal-body .select-table table td .md-cjeckbox-class{
        margin: 0px  !important;
        padding : 0px  !important;
        left: 0  !important;
        opacity: 1  !important;
        position: relative  !important;
    }

    .modal-body .select-table table th,td {
        text-align : center;
    }


    .modal-body div.filter-alert{
        float: right  !important;
        padding: 6px  !important;
        margin: 2px  !important;
        border-radius: 0px !important;

        width:calc(30% - 4px) !important;

        background-color: white;
        border: 1px solid rgb(197, 197, 197);
        height:50px;
        transition-duration: 0.5s;
        transition-property: background-color;
        transition-timing-function: ease-in;
    }

    .modal-body  div.filter-alert:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
        color : white;
        border: 1px solid rgba(35,173,255,1) !important;
        background-color :  rgba(35,173,255,1)  !important;
    }


    .modal-body  div.filter-alert span.pull-right{
        font-size: 10px;
        width : 100%;
    }

    .modal-body .not-selected{
        border-style: dashed;
        padding: 5px;
    }

    .modal-body .result-saved{
        height: 30px;
        margin: 2px;
        padding: 5px;
        width: calc(30% - 4px) !important;
    }



    .modal-body .multiDemo ul[dnd-list] {
        min-height: 42px;
        padding-left: 0px;
    }

    .modal-body .multiDemo ul[dnd-list] .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 42px;
    }

    .modal-body .multiDemo ul[dnd-list] li {
        background-color: #fff;
        border: 1px solid #ddd;
        /*border-top-right-radius: 4px;
        border-top-left-radius: 4px;*/
        border-radius: 0px;
        margin:2px;
        display: block;
        /*margin-bottom: -1px;*/
        padding: 10px 15px;
    }

    .modal-body .multiDemo ul[dnd-list] li:hover{
        cursor: pointer;
    }

    .modal-body .multiDemo ul[dnd-list] li.selected {
        background-color: #dff0d8;
        color: #3c763d;
    }






</style>
<div class="modal-header fontStyle" >
         <span  class="pull-right"  ng-bind="'administration.zm.create_access_metadata' |translate">
         </span>
</div>
<div class="modal-body row form-group  " style="margin-bottom: 0px !important; padding-bottom: 0px;">

    <div class="row form-group col-sm-12">

        <div layout="row"  class="row form-group col-sm-12">
            <span class="md-block  col-sm-6 pull-left "  style=" padding: 0;">
                {{data.propertGropLabel}}
            </span>
            <md-input-container class="md-block md-icon-float col-sm-6 pull-left" style="top: -10px;">
                <label>نام</label>
                <input
                        id="txtName"
                        type="text"

                        name="txtName"
                        ng-model="data.name"
                        minlength="1"
                        maxlength="100"
                /><!--disabled-->
            </md-input-container>
        </div>


        <div class="col-md-12 multiDemo "  style="max-height: 250px; overflow-y: auto;">
            <div class="row">
                <div ng-repeat="list in data.models" class="col-md-6">
                    <div class="panel panel-info" style="border: 1px solid rgb(231, 87, 83); border-radius: 0px;">
                        <div class="panel-heading"  style="background-color: rgb(231, 87, 83); color: white;border-radius: 0px;">
                            <h3 class="panel-title"> {{list.listName}}</h3>
                        </div>
                        <div class="panel-body">
                            <ul dnd-list dnd-drop="func.onDrop(list, item, index)">
                                <li ng-repeat="item in list.items"
                                    dnd-draggable="func.getSelectedItemsIncluding(list, item)"
                                    dnd-dragstart="func.onDragstart(list, event)"
                                    dnd-moved="func.onMoved(list)"
                                    dnd-dragend="list.dragging = false"
                                    dnd-selected="item.selected = !item.selected"
                                    ng-class="{'selected': item.selected}"
                                    ng-hide="list.dragging && item.selected"
                                >
                                    {{item.label}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div view-source="multi"></div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer row">
    <div class="row" style="margin-top: 5px ! important;">

        <form name="daddAccessFooterForm" novalidate role="form">

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button id="okButon"     class="md-raised" ng-click="func.add()">
                    <md-icon  md-font-icon="fa fa-edit  fa-fw"></md-icon>
                    <span style="margin-right: 3px;" >ذخیره</span>
                </md-button>
                <md-button id="cancelButon"     class="md-raised" ng-click="func.cancel()">
                    <md-icon  md-font-icon="fa fa-remove  fa-fw"></md-icon>
                    <span style="margin-right: 3px;"  >انصراف</span>
                </md-button>
            </section>
        </form>
    </div>
</div>