
<div   style="padding:  0px; float: right; width: 100%; ">
    <!--<h6 ng-bind="'administration.zr.Automation' | translate" style="margin:10px !important;"  ></h6>
    <div class="dividerPanel"></div>-->
    <div class="zonesHeader">
        <span ng-bind="'administration.zr.Automation' | translate"></span>
    </div>

    <ul>
        <i
                ng-if="data.showLogins['/Automation']"
                ng-class="{'selected-nav' : data.acriveNav =='Automation'}"
                class="navbar-show row  col-sm-12"
                ng-click="func.selectNav('Automation')">
            <span class="icon-show fa fa-outdent"></span>
            <span
                    class="label-show not-view"
                    ng-bind="'administration.zr.Automation'|translate">
            </span>
            <md-tooltip  md-direction="left" >
                {{'administration.zr.Automation'|translate}}
            </md-tooltip>
        </i>
    </ul>

</div>