
<div   style="padding: 0px; float: right; width: 100%; ">
    <!--<h6 ng-bind="'administration.zr.stats' | translate" style="margin:10px !important;"  ></h6>
    <div class="dividerPanel"></div>-->
    <div class="zonesHeader">
        <span ng-bind="'administration.zr.stats' | translate"></span>
    </div>
    <ul>
        <i
                ng-if="data.showLogins['/stats.jsp']"
                ng-class="{'selected-nav' : data.acriveNav =='stats'}"
                class="navbar-show row  col-sm-12"
                ng-click="func.selectNav('stats')">
            <span class="icon-show fa fa-pie-chart"></span>
            <span
                    class="label-show not-view"
                    ng-bind="'administration.zr.stats'|translate">
            </span>
            <md-tooltip  md-direction="left" >
                {{'administration.zr.stats'|translate}}
            </md-tooltip>
        </i>
        <i
                ng-class="{'selected-nav' : data.acriveNav =='pendingTaskQueue'}"
                class="navbar-show row  col-sm-12"
                ng-click="func.selectNav('pendingTaskQueue')">
            <span class="icon-show fa fa-recycle"></span>
            <span
                    class="label-show not-view"
                    ng-bind="'administration.zr.pendingTaskQueue'|translate">
            </span>
            <md-tooltip  md-direction="left" >
                {{'administration.zr.pendingTaskQueue'|translate}}
            </md-tooltip>
        </i>
        <i

                ng-class="{'selected-nav' : data.acriveNav =='textExtractionQueue'}"
                class="navbar-show row  col-sm-12"
                ng-click="func.selectNav('textExtractionQueue')">
            <span class="icon-show fa fa-newspaper-o"></span>
            <span
                    class="label-show not-view"
                    ng-bind="'administration.zr.textExtractionQueue'|translate">
            </span>
            <md-tooltip  md-direction="left" >
                {{'administration.zr.textExtractionQueue'|translate}}
            </md-tooltip>
        </i>
    </ul>

</div>