<div class="sideLeft" ng-show="data.isShowItem && data.profile.prfMenu.prfFile.restoreVisible">

    <!--<h6 class="header color" ng-bind="'desktop.zl.history' | translate"></h6>
    <div class="darkdivider desktop-background"></div>-->
    <div class="zonesHeader">
        <span ng-bind="'desktop.zl.history' | translate"></span>
    </div>

    <div class="history-side">
        <div class="col-sm-12" style="padding: 0px; margin: 0px; width: 100%; overflow-x: auto;">

            <table ng-show="data.docVersions.length > 0 "
                   class=" desktop-background table table-responsive table-striped table-hover- table-condensed table-bordered ">
                <thead>
                <tr style="height: 35px;">

                    <th  class="position">
                            <span class="fa fa-user">
                                  <md-tooltip  md-direction="top">
                                        {{'desktop.zl.history_author' | translate}}
                                  </md-tooltip>
                            </span>
                    </th>
                    <th  class="position">
                            <span class="fa fa-calendar">
                                  <md-tooltip  md-direction="top">
                                        {{'desktop.zl.history_date' | translate}}
                                  </md-tooltip>
                            </span>
                    </th>
                    <th  class="position">
                            <span class="fa fa-edit">
                                  <md-tooltip  md-direction="top">
                                        {{'desktop.zl.history_version' | translate}}
                                  </md-tooltip>
                            </span>
                    </th>
                    <th  class="position">
                            <span class="fa fa-history">
                                  <md-tooltip  md-direction="top">
                                       بازنمایی
                                  </md-tooltip>
                            </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="version in data.docVersions" ng-class="{'odd':$odd,'even':$even}">
                        <td ><span style="word-wrap: break-word; word-break: break-all; text-align: justify; max-width: 100%; font-size: 10px; padding: 2px;" ng-bind="version.author"></span></td>
                        <td ><span style="word-wrap: break-word; word-break: break-all; text-align: justify; max-width: 100%; font-size: 10px; padding: 2px;" ng-bind="version.jalalidate"></span></td>
                        <td ><span style="word-wrap: break-word; word-break: break-all; text-align: justify; max-width: 100%; font-size: 10px; padding: 2px;" ng-bind="version.name"></span></td>
                        <td ><span class="fa fa-rotate-left" ng-click="func.restoreVersion(version)" ng-show="version.actual==false"></span></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="row form-group col-sm-12 removeHeader" ng-if="data.docVersions.length > 1" >
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

                <md-button id="okButon"  style="width:40px;"  class="md-raised" ng-click="func.removeNotActiveHistory()">
                    <md-tooltip  md-direction="top">
                        حذف تاریخچه های غیر فعال
                    </md-tooltip>
                    <md-icon   md-font-icon="fa fa-remove"></md-icon>
                    <span style="margin-right: 3px;">حذف</span>
                </md-button>
            </section>

        </div>

    </div>

</div>

<div class="sideLeft" ng-show="!data.profile.prfMenu.prfFile.restoreVisible">
    <style>

        .not-support-javascript{
            width: 100%;

            margin-top: 20px;
            text-align: center;
            border: 1px solid rgba(35,173,255,1);
            padding : 10px;
            transition-duration: 0.5s;
            transition-property: background-color;
            transition-timing-function: ease-in;
            border-radius: 0px !important;
        }

        .not-support-javascript:hover {
            box-shadow: 0 0 6px rgba(35, 173, 255, 1);
            background-color: rgba(35, 173, 255, 1) !important;
            color: white !important;
        }

        .not-support-javascript  img{
            width:65px;
            height: auto;
        }

        .not-support-javascript  h2{
            font-family: IRANSans-web-bold;
        }


    </style>
    <div  class="not-support-javascript">
        <img src="static/img/Warning.png" />
        <h6>امکان نمایش تاریخچه برای شما وجود ندارد.</h6>
    </div>
</div>