<div class="sideLeft" ng-show="data.isShowItem && data.profile.prfTab.prfDocument.notesVisible">

    <!--<h6 class="header color" ng-bind="'desktop.zl.note' | translate"></h6>
    <div class="darkdivider desktop-background"></div>-->
    <div class="zonesHeader">
        <span ng-bind="'desktop.zl.note' | translate"></span>
    </div>
    <form role="form" novalidate name="formDesktopNotesName" class="form-generator" >

        <div  class="col-sm-12 row form-group noteIcons" style="padding-top: 0px ! important; padding-right: 5px ! important;">
            <span ng-click="func.editOrCreateNote()" >
                <i
                            class="fa"
                            ng-class="{'fa-plus' : data.note.isActive == -1 , 'fa-edit' : data.note.isActive != -1 }">
                    <md-tooltip  md-direction="top">
                            {{(data.note.isActive == -1 ? 'desktop.zl.metadata_Insert' : 'desktop.zl.security_edit')| translate}}
                    </md-tooltip>
                </i>
            </span>
            <span   ng-click="func.noteCancel()" style="font-size: 20px; padding: 2px; margin: 2px;">
                <i  class="fa fa-times" ></i>
                <md-tooltip  md-direction="top">
                            لغو
                </md-tooltip>
            </span>
        </div>

        <div class="col-sm-12  row form-group  noteTextArea" >

                  <textarea
                          rows="4"
                          style="border-radius: 0px !important;"
                          cols="50"
                          type="text"
                          class="col-sm-12 form-control"
                          ng-model="data.note.text"
                          required
                          ng-disabled="!data.profile.prfMenu.prfEdit.addNoteVisible"
                          placeholder="یادداشت"
                          name="desktopNoteTextArea"
                          ng-class="{'error-ocure':formDesktopNotesName['desktopNoteTextArea'].$error.required}"
                  ><!--ui-keypress="{13:'func.editOrCreateNote()'}"-->

                 </textarea>

            </div>



            <div class="row form-group notesList"  ng-show="data.notes.length > 0">


            <div
                    ng-class="{'active-note': data.note.isActive == note.path}"
                    ng-repeat="note in data.notes"
                    class="alert alert-mode-viewer  col-sm-12" role="alert"
                    id="noteDoc-{{$index}}"
                    style="margin: 3px; float: right; padding: 5px;border-bottom: 1px solid rgba(197, 197,197,1); ">


                <div class="col-sm-12  row form-group" style="padding: 2px; margin: 0px !important;">
                    <span class="fa fa-user pull-right  col-sm-1"  style="padding: 0px; box-sizing: border-box ! important;"></span>
                    <span class="pull-left  col-md-10  col-sm-12" ng-bind="note.author"  style="padding: 0px; float: left; direction: ltr;"></span>
                </div>

                <div class="col-sm-12  row form-group" style="padding: 2px; margin: 0px !important;">
                    <span class="pull-left  col-md-7 col-sm-12" ng-bind="note.jalalidate"  style="direction: ltr; padding-left: 0px;"></span>

                    <span class="fa fa-trash pull-right"
                          ng-if="data.profile.prfMenu.prfEdit.removeNoteVisible"
                          ng-click="func.removeNote(note)"
                          style="cursor: pointer">
                       <md-tooltip  md-direction="top">
                            حذف
                        </md-tooltip>
                    </span>
                    <span  ng-if="note.path != data.note.isActive" class="fa fa-edit pull-right"  ng-click="func.editNote(note)"  style="cursor: pointer">
                        <md-tooltip  md-direction="top">
                            ویرایش یادداشت
                        </md-tooltip>
                    </span>
                    <span ng-if="note.path == data.note.isActive" class="fa fa-remove pull-right"  ng-click="func.noteCancel()"  style="cursor: pointer">
                        <md-tooltip  md-direction="top">
                            انصراف از ویرایش
                        </md-tooltip>
                    </span>

                </div>


                <div class="col-sm-12"  style="border-bottom: 1px solid rgba(197,197,197,1);"></div>


                <div class="row form-group">
                    <span
                            ng-bind="note.text"
                            style="
                                text-align: justify;
                                word-break: break-all;
                                word-wrap: break-word;
                            ">
                    </span>
                </div>

            </div>


        </div>

    </form>




</div>

<div class="sideLeft" ng-show="!data.profile.prfTab.prfDocument.notesVisible">
    <style>

        .not-support-javascript{
            width: 100%;

            margin-top: 20px;
            text-align: center;
            border: 1px solid rgba(35,173,255,1);
            padding : 10px;
            transition-duration: 0.5s;
            transition-property: background-color;
            transition-timing-function: ease-in;
            border-radius: 0px !important;
        }

        .not-support-javascript:hover {
            box-shadow: 0 0 6px rgba(35, 173, 255, 1);
            background-color: rgba(35, 173, 255, 1) !important;
            color: white !important;
        }

        .not-support-javascript  img{
            width:65px;
            height: auto;
        }

        .not-support-javascript  h2{
            font-family: IRANSans-web-bold;
        }


    </style>
    <div  class="not-support-javascript">
        <img src="static/img/Warning.png" />
        <h6>امکان نمایش یادداشت برای شما وجود ندارد.</h6>
    </div>
</div>