.modal-header{
    background-color: rgb(38, 166, 154) !important;
    color: white !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin: -15px 0px 0px 0px !important;
}

.modal-footer{
    padding: 0px!important;
    margin: 0px !important;
}

.modal-footer #okButon{
    border-radius: 0px ! important;
    transition-duration: 0.5s;
    transition-property: background-color,color;
    transition-timing-function: ease-in;
}

.modal-footer #okButon:hover{
    box-shadow  :  0 0 10px rgba(35,173,255,1);
    background-color : rgba(35,173,255,1);
    color : white;
}

.modal-footer #okButon md-icon{
    padding-left: 11px !important;
    border-left: 1px solid rgba(35,173,255,1);
}

.modal-footer #okButon:hover md-icon{
    color : white;
    border-left: 1px solid white !important;
}


.modal-footer #cancelButon{
    border-radius: 0px ! important;
    transition-duration: 0.5s;
    transition-property: background-color,color;
    transition-timing-function: ease-in;
}

.modal-footer #cancelButon:hover{
    box-shadow  :  0 0 10px rgba(255,134,29,1);
    background-color : rgba(255,134,29,1);
    color : white;
}

.modal-footer #cancelButon md-icon{
    padding-left: 5px !important;
    border-left: 1px solid rgba(255,134,29,1);
}

.modal-footer #cancelButon:hover md-icon{
    color : white;

    border-left: 1px solid white !important;
}

.modal-footer  section md-button{
    padding-left  : 0px !important;
    padding-right : 0px !important;
}

.modal-footer  section md-button md-icon{
    border-left: 1px solid rgb(197, 197, 197);
    padding-right: 0px  !important;
    padding-left: 6px  !important;
}