<style>
    .modal-header{
        background-color: rgb(38, 166, 154) !important;
        color: white !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        margin: -15px 0px 0px 0px !important;
    }

    .modal-footer{
        padding: 0px!important;
        margin: 0px !important;
        height : 100% !important;
    }

    .modal-footer #okButon{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }

    .modal-footer #okButon:hover{
        box-shadow  :  0 0 10px rgba(35,173,255,1);
        background-color : rgba(35,173,255,1);
        color : white;
    }

    .modal-footer #okButon md-icon{
        padding-left: 11px !important;
        border-left: 1px solid rgba(35,173,255,1);
    }

    .modal-footer #okButon:hover md-icon{
        color : white;
        border-left: 1px solid white !important;
    }

    .modal-body #addFileButon{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }

    .modal-body #addFileButon:hover{
        box-shadow  :  0 0 10px rgba(35,173,255,1);
        background-color : rgba(35,173,255,1);
        color : white;
    }

    .modal-body #addFileButon md-icon{
        padding-left: 11px !important;
        border-left: 1px solid rgba(35,173,255,1);
    }

    .modal-body #addFileButon:hover md-icon{
        color : white;
        border-left: 1px solid white !important;
    }


    .modal-footer #cancelButon{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }

    .modal-footer #cancelButon:hover{
        box-shadow  :  0 0 10px rgba(255,134,29,1);
        background-color : rgba(255,134,29,1);
        color : white;
    }

    .modal-footer #cancelButon md-icon{
        padding-left: 5px !important;
        border-left: 1px solid rgba(255,134,29,1);
    }

    .modal-footer #cancelButon:hover md-icon{
        color : white;

        border-left: 1px solid white !important;
    }

    .modal-footer  section md-button{
        padding-left  : 0px !important;
        padding-right : 0px !important;
    }

    .modal-footer  section md-button md-icon{
        border-left: 1px solid rgb(197, 197, 197);
        padding-right: 0px  !important;
        padding-left: 6px  !important;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 0){
        .modal-body .parent{
            position: relative !important;
        }
        .modal-body .child{
            position: absolute !important;
        }
    }
    .child{
        direction: rtl  !important;
    }
    .modal-body .thumbnail-viewer{
        float : right;
        text-align: center;
    }
    .modal-body .thumbnail-viewer div.selectDoc{
        width:20px;
        height:20px;
        position: absolute;
        border: 1px solid #00ACC1;
        top: 5px;
        z-index: 2;
        left: 60px;
        background-color: transparent;
        border-radius: 10px;
    }
    .modal-body  .thumbnail-viewer div.select{
        display: inline-block !important;
    }
    .modal-body   .file span.check{
        display: none;
    }
    .modal-body   .thumbnail-viewer div.select span.check{
        display: inline-block !important;
        color : #00ACC1;
    }
    .modal-body   .file div.unselect{
        display: none;
    }
    .modal-body .thumbnail-viewer:hover div.unselect{
        display: inline-block; !important;
    }
    .modal-body .thumbnail-viewer div.unselect:hover{
        background-color : #00ACC1 !important;
    }
    .modal-body .file div.unselect:hover  .check{
        display: inline-block; !important;
        color : white !important;
    }


    .modal-body  .thumbnail-viewer  img{
        height: 60px !important;
        position: relative !important;
        width: auto !important;
        cursor: pointer;
        margin-top: 10px;
        padding-top: 5px;
    }
    .modal-body  .thumbnail-viewer  .label{
        color: black;
        direction: rtl;
        height: 40px !important;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 4px;
        position: relative !important;
        width: 100%;
    }
    .modal-body  .thumbnail-viewer  span.name{
        display : inline-block;
        height : 40px;
        overflow : hidden;
        padding : 5px;
        text-align : center;
        text-overflow : ellipsis;
        white-space : nowrap;
        width : 110px;
        word-break : break-all;
        word-wrap : break-word;
        cursor: pointer;
    }
    .modal-body  .thumbnail-viewer:hover{
        box-shadow         :  0 0 5px rgba(35,173,255,1);
    }

    .modal-body  .header-map{
        padding: 0px !important;
        margin: 2px 0px  !important;
        text-align: center !important;
    }

    .modal-body  .header-map  .direction-icon{
        cursor: pointer !important;
        font-size: 20px !important;
        font-weight: bold !important;
    }


    .sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
        -webkit-transition:all linear 1.5s;
        -moz-transition:all linear 1.5s;
        -o-transition:all linear 1.5s;
        transition:all linear 1.5s;
        display:block !important;
    }

    .sample-show-hide.ng-hide-add.ng-hide-add-active,
    .sample-show-hide.ng-hide-remove {
        -webkit-transition:all linear 0.2s;
        -moz-transition:all linear 0.2s;
        -o-transition:all linear  0.2s;
        transition:all linear  0.2s;
        opacity:0;
    }

    .sample-show-hide.ng-hide-add,
    .sample-show-hide.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition:all linear 3s;
        -moz-transition:all linear 3s;
        -o-transition:all linear  3s;
        transition:all linear  3s;
        opacity:1;
    }

    .animate-if {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    }

    .animate-if.ng-enter, .animate-if.ng-leave {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    }

    .animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
        opacity: 0;
    }

    .animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
        opacity: 1;
    }

    .modal-body .alert-mode-viewer-modal{
        padding: 15px !important;
        border: 1px solid rgb(197, 197, 197);
        background-color: white;
        margin : 10px !important;
        transition-delay: 0s;
        -moz-transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-duration: 200ms;
        -moz-transition-duration: 200ms;
        -webkit-transition-duration: 200ms;
        transition-property: all;
        -moz-transition-property: all;
        -webkit-transition-property: all;
        transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        width:calc(100% - 35px);
    }



    .modal-body .alert-mode-viewer-modal:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
    }
    .modal-body  md-progress-linear .md-container{
        height : 15px !important;
    }
    .modal-body  md-progress-linear .md-container .md-bar{
        height : 15px !important;
    }

    .modal-body .checkbox-system{
        padding : 10px !important;
    }


    .modal-body .not-result{
        display : none;
        height: 150px;
        overflow: hidden;
        margin-top : 20px;

        margin-right: calc(50% - 125px);
        width: auto ! important;
        padding:50px 20px 20px 20px;
        border: 1px solid rgba(197,197,197,1);
    }

    .modal-body .not-result.display{
        display : inline-block;
    }



    .modal-body  .not-result  .dashboard-refresh{
        font-size: 22px;
        color: red;
    }

    .modal-body  .not-result  .dashboard-refresh:hover{
        text-shadow: 2px 2px 4px rgba(255,0,0,1);
    }

    .modal-body  .not-result  .dashboard-ban{
        font-size: 22px;
        color: red;
        margin-left:5px;
    }

    .modal-body .not-result  .dashboard-ban:hover{
        text-shadow: 2px 2px 4px rgba(255,0,0,1);
    }

    .modal-body  .stampAndPreview{
        width: 100%;
        height : 300px !important;
    }

    .modal-body  .stampAndPreview .stamps{
        width : 29%;
        height : 100%;
        margin: 0 !important;
    }

    .modal-body  .stampAndPreview .stamps  .selectStamp{
        height : 50px;
    }

    .modal-body  .stampAndPreview .stamps  .stampsList{
        height: calc(100% - 150px);
        overflow-y: auto;
    }

    .modal-body  .stampAndPreview .stamps  .stampsButton{
        height : 50px;
        margin : 2px !important;
    }




    .modal-body  .stampAndPreview .stamps  .stampsList .fileViewer{
        width: 80px;
        float: right;
        padding: 5px;
        margin: 5px;
        text-align: center;
    }

    .modal-body  .stampAndPreview .stamps  .stampsList .fileViewer img{
        height: 60px !important;
        position: relative !important;
        width: auto !important;
        max-width: 75px  !important;
        cursor: pointer;
    }

    .modal-body  .stampAndPreview .previews{
        width : 69%;
        height : 100%;
        overflow: hidden;
    }

    .modal-body  .stampAndPreview .previews .media{
        width : 100%;
        height : 100%;
        display : none;
    }
    .modal-body  .stampAndPreview .previews  .multimedia{
        display : inline-block !important;
    }

    .modal-body  .stampAndPreview .previews  .pdfViewer{
        display : inline-block !important;
    }




    .modal-body  .selectedStampsList{
        width: 100%;
        height : 120px !important;
        overflow-y: auto;
        overflow-x : hidden;
        border-top: 1px solid rgba(197,197,197,1);
    }

    .modal-body  .selectedStampsList div.filter-alert{
        float: right  !important;
        padding: 6px  !important;
        margin: 2px  !important;
        border-radius: 0px !important;
        width: 190px !important;
        background-color: white;
        border: 1px solid rgb(197, 197, 197);
        height:75px;
        transition-duration: 0.5s;
        transition-property: background-color;
        transition-timing-function: ease-in;
    }

    .modal-body  .selectedStampsList  div.filter-alert:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
        color : white;
        border: 1px solid rgba(35,173,255,1) !important;
        background-color :  rgba(35,173,255,1)  !important;
    }

    .modal-body  .selectedStampsList div.filter-alert span.pull-left{
        cursor: pointer;
        font-size: 10px;
        margin-top: 1px;
        width: 10px;
    }
    .modal-body  .selectedStampsList  div.filter-alert span.pull-right{
        font-size: 10px;
        width : calc(100% - 20px);
    }

    .modal-body  .selectedStampsList  img{
        height: 60px !important;
        position: relative !important;
        width: auto !important;
        max-width: 75px  !important;
    }

    .modal-body  div.toc-class{
        height : 450px !important;
        margin : 0px !important;
        padding : 0px !important;
    }

    .modal-body  div.toc-class .view-result-image{
        width:100% !important;
        height:100% !important;
        border : 1px solid rgba(197,197,197,0.7);
        background-color: transparent;
    }

    .modal-body  div.toc-class .view-toc{
        position: absolute;
        background-color: rgb(38, 166, 154) !important;
        z-index: 1000000 !important;
        width:30px !important;
        height : 30px !important;
        float: right;
        right: 0;
        top: 2px !important;
        vertical-align: middle !important;
        margin-right: 0px;
        padding-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 6px;
        text-align: center;
        transition-duration: 0.5s;
        transition-property: margin-right;
        transition-timing-function: ease-in;
    }

    .modal-body  div.toc-class .view-toc.select-toc{
        margin-right:  80%  !important;
    }


    .modal-body  div.toc-class .toc-result{
        position: absolute;
        float: right;
        top : 0px !important;
        width: 0px;
        height : 100% !important;
        border:1px solid black;
        z-index: 1000000 !important;
        background-color: white;
        transition-duration: 0.5s;
        transition-property: width;

        transition-timing-function: ease-in;
    }
    .modal-body  div.toc-class  .toc-result.toc-result-view{
        width: 80%  !important;
    }
    .modal-body  div.toc-class .index-result{
        position: absolute;
        visibility: hidden;
        float: left;
        top : 0px !important;
        left:0px;
        width: 0px;
        height : 100% !important;
        border:1px solid black;
        z-index: 1000000 !important;
        background-color: white;
        transition-duration: 0.5s;
        transition-property: width;
        transition-timing-function: ease-in;
    }
    .modal-body  div.toc-class  .index-result.index-result-view{
        width: 80%  !important;
        visibility : visible !important;
    }
    .modal-body  div.toc-class  .view-result-image .mapViewer:-moz-full-screen {
        height: 100%;
    }
    .modal-body  div.toc-class  .view-result-image .mapViewer:-webkit-full-screen {
        height: 100%;
    }
    .modal-body  div.toc-class  .view-result-image .mapViewer:-ms-fullscreen {
        height: 100%;
    }
    .modal-body  div.toc-class  .view-result-image .mapViewer:fullscreen {
        height: 100%;
    }
    .modal-body  div.toc-class  .view-result-image  .direction-right{
        position: absolute;
        color: white ! important;
        z-index: 100 ! important;
        height: 450px;
        width: 40px;
        padding-right: 8px;

        transition-duration: 0.5s;
        transition-property: box-shadow;
        transition-timing-function: ease-in;
    }
    .modal-body  div.toc-class  .view-result-image  .direction-right:hover{
        box-shadow : inset 0 -6px 50px rgba(0,0,0,0.2) !important;
    }
    .modal-body  div.toc-class  .view-result-image  .direction-right span{
        color: white;
        margin-top: 200px;
        cursor: pointer;
        font-size: 80px;
    }
    .modal-body  div.toc-class  .view-result-image .direction-left{
        color: white; position: absolute ! important;
        z-index: 10 ! important;
        left: 0px;
        height: 450px;
        top: 0px;
        width: 40px;
        padding-right: 8px;

        transition-duration: 0.5s;
        transition-property: box-shadow;
        transition-timing-function: ease-in;
    }
    .modal-body  div.toc-class  .view-result-image .direction-left:hover{
        box-shadow : inset 0 -6px 50px rgba(0,0,0,0.2) !important;
    }
    .modal-body  div.toc-class  .view-result-image .direction-left span{
        color: white;
        font-size: 80px;
        margin-top: 200px;
        cursor: pointer;
    }




    .modal-body  div.toc-class .view-index{
        position: absolute;
        background-color: rgb(38, 166, 154) !important;
        z-index: 1000000 !important;
        width:30px !important;
        height : 30px !important;
        float: left;
        left: 0;
        top: 2px !important;
        vertical-align: middle !important;
        margin-left: 0px;
        padding-bottom: 2px;
        padding-right: 2px;
        padding-right: 2px;
        padding-top: 6px;
        text-align: center;
        transition-duration: 0.5s;
        transition-property: margin-left;
        transition-timing-function: ease-in;
    }
    .modal-body  div.toc-class .select-index{
        margin-left:  80%  !important;
    }

    .modal-body  div.toc-class  .index-result .selectFilter{
        background-color: white;
        border : white solid 1px;
        border-radius: 0px !important;
        height : 70px !important;
        box-shadow: 0 0 6px rgba(100,255,255,0.8) !important;
        margin-right: 25%;
        text-align: right;
        width: 50%;
        margin-top: 10px;
    }

    .modal-body  div.toc-class  .index-result table  tr:nth-child(even){
        background-color: rgba(224, 236, 255, 0.8);
    }
    .modal-body  div.toc-class  .index-result table  tr:nth-child(even)  td label{
        color:white !important;
    }
    .modal-body  div.toc-class  .index-result table  tr span.alert-mode-viewer {
        padding: 5px !important;
        border: 1px solid rgba(35,173,255,1);
        background-color: white;
        margin : 5px  !important;
        transition-duration: 0.5s;
        transition-property: background-color;
        transition-timing-function: ease-in;
        border-radius: 0px !important;
        color:black;
    }
    .modal-body  div.toc-class  .index-result table  tr span.alert-mode-viewer:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
        background-color :  rgba(35,173,255,1) !important;
        color : white !important;
        border:1px solid white !important;
    }
    .modal-body  div.toc-class  .index-result table  tbody tr:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
        background-color :  rgba(35,173,255,1) !important;
        color : white !important;
    }
    .modal-body  div.toc-class  .index-result table  tbody tr:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
        background-color :  rgba(35,173,255,1) !important;
        color : white;
    }

    .modal-body  div.toc-class  .index-result table  tbody tr td span.number-span{
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        transition-duration: 0.5s;
        transition-property: color;
        transition-timing-function: ease-in;
    }
    .modal-body  div.toc-class  .index-result table  tbody tr td span.number-span:hover{
        color : #ecffeb !important;
    }


</style>
<div class="modal-header">
    <div class="form-group">
        <div class="col-sm-11 pull-right"  style="text-align:center;">
            <span class="pull-right">فهرست "Introduction to Heat Transfer"</span>
        </div>
    </div>
</div>
<div class="modal-body row form-group" style="margin-bottom: -15px !important;padding-top: 0px !important;">

    <div class="row form-group col-sm-12 toc-class">

        <div class="view-result-image">

            <div class="direction-right">
                <span  ng-click="func.nextPage()" class="fa fa-angle-right">
                    <md-tooltip  md-direction="bottom" style="z-index: 10000000 !important;">
                    صفحه بعدی
                    </md-tooltip>
                </span>
            </div>

            <div id="mapViewer" class="mapViewer" style="height: 100% !important;"></div>

            <div class="direction-left">
                <span ng-click="func.prevPage()" class="fa fa-angle-left" >
                    <md-tooltip  md-direction="bottom" style="z-index: 10000000 !important;">
                    صفحه قبلی
                    </md-tooltip>
                </span>
            </div>

        </div>

        <div class="view-index">
            <span
                    style="cursor: pointer;color:white;"
                    ng-click="func.ShowIndex($event)"
            >
                <md-tooltip  md-direction="bottom" style="z-index: 10000000 !important;">
                    نمایه
                </md-tooltip>
                <span class="fa fa-bookmark-o"></span>
            </span>
        </div>

        <div class="index-result">

            <div class="selectFilter" >
                <div layout="row" class="pull-right" style="margin-top: 20px; padding: 5px;">
                   <span>نام نمایه :</span>
                </div>
                <div layout="row" style="margin-bottom: 5px ! important; padding-right: 5px; padding-left: 5px;">
                    <md-input-container class="md-block md-icon-float col-sm-12 col-xs-12">
                        <label>نمایه </label>
                        <input
                                type="text"
                                ng-model="data.filterValue"
                        />
                    </md-input-container><!-- ui-keypress="{13:'func.filters()'}"-->
                </div>
            </div>

            <div class="col-sm-12" style="overflow-y: auto; max-height: calc(100% - 110px); padding: 8px; margin: 5px 0px;">
                <table  style="padding: 10px;"
                        class="table table-bordered- table-responsive display table-striped table-hover- table-condensed  show-hide-file" >
                    <caption>
                        <span  class="pull-right" >کلمات کلیدی</span>
                    </caption>
                    <thead>
                    <th class="position-center" style="padding: 2px !important;">
                        <span ng-bind="'administration.zr.row'|translate"></span>
                    </th>
                    <th class="position-center" style="padding: 2px !important;">
                        <a  href="javascript:void(0)" ng-click=" data.sort.type = 'index'; data.sort.ascDesc = !data.sort.ascDesc">
                            <span ng-show="data.sort.type == 'index' && !data.sort.ascDesc" class="fa fa-caret-down"></span>
                            <span ng-show="data.sort.type == 'index' && data.sort.ascDesc" class="fa fa-caret-up"></span>
                            <span >نمایه</span>
                        </a>
                    </th>
                    <th class="position-center" style="padding: 2px !important;">
                        <span >لیست صفحات</span>
                    </th>
                    </thead>
                    <tbody>
                    <tr
                            ng-repeat="index in data.indexes | orderBy:data.sort.type:data.sort.ascDesc | listFilter:data.filterElement:data.filterValue"
                            class="dashboard-select-table-tr"
                            ng-class="{'rowOdd':$even, 'activated':data.selectIndex==index.index}"
                            ng-click="data.selectIndex=index.index;">
                        <td class="position-center">
                            <span class="col-sm-12" ng-bind="$index+1|en2faNum"></span>
                        </td>
                        <td class="position-center">
                            <span class="col-sm-12" ng-bind="index.index|en2faNum"></span>
                        </td>
                        <td class="position-center">
                            <span
                                    class="number-span"
                                    ng-repeat="page in index.pages"
                                    ng-bind="page.number|en2faNum"
                                    ng-click="func.goToSelectedPage(page)">
                                 <md-tooltip  md-direction="bottom" style="z-index: 10000000 !important;">
صفحه {{page.number|en2faNum}}
                                 </md-tooltip>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>



        </div>

        <div class="view-toc">
            <span
                    style="cursor: pointer;color:white;"
                    ng-click="func.ShowTOC($event)"
                   >
                <md-tooltip  md-direction="bottom" style="z-index: 10000000 !important;">
                    فهرست
                </md-tooltip>
                <span class="fa fa-book"></span>
            </span>
        </div>

        <div class="toc-result">
            <div
                    style="height: 100%; overflow-y: auto; overflow-x: hidden;padding-right : 10px !important; padding-left:  0px; padding-top: 10px;"
                    toc-model
                    toc-list="data.tree"
                    change-toc = "func.changeTOC"
                    current-toc = "data.currentTOC"
            >
            </div >
        </div>


    </div>


</div>
<div class="modal-footer row">
    <div class="row" style="margin-top: 5px ! important;">

        <form name="deleteFolderForm" novalidate role="form">

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button id="okButon"     class="md-raised" ng-click="func.close()">
                    <md-icon  md-font-icon="fa fa-remove fa-fw"></md-icon>
                    <span style="margin-right: 3px;" >بستن</span>
                </md-button>
            </section>

        </form>
    </div>
</div>