
/*@import url(http://fonts.googleapis.com/css?family=Lato:300|Playfair+Display:900);*/
html {
    font-size: 100%;
    /* 1 */
    overflow-y: hidden;
    /* 2 */
    font-family: sans-serif;
    /* 3 */
    -ms-text-size-adjust: 100%;
    /* 4 */
    -webkit-text-size-adjust: 100%;
    /* 4 */ }

body {
    margin: 0;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; }

/*----------------------------------------------
-body, html
-Set 100% height if needed for full viewport stuff
-Prevent gaps in mobile layout
-----------------------------------------------  */
html, body {
    position: relative;
    overflow-x: hidden; }

/*----------------------------------------------
-Defualt to border-box
-----------------------------------------------  */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/*----------------------------------------------
-HTML5 Block Levels
-----------------------------------------------  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; }

/*----------------------------------------------
1. Correct `inline-block` display not defined in IE 8/9.
2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
-----------------------------------------------  */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }

/*----------------------------------------------
-Prevent modern browsers from displaying `audio` without controls.
-Remove excess height in iOS 5 devices.
-----------------------------------------------  */
audio:not([controls]) {
    display: none;
    height: 0; }

/*----------------------------------------------
-Address `[hidden]` styling not present in IE 8/9/10.
-Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
-----------------------------------------------  */
[hidden],
template {
    display: none; }

/*----------------------------------------------
LINKS
-Remove the gray background color from active links in IE 10.
-Remove defualt text-decoration
-Improve readability
-----------------------------------------------  */
a {
    background-color: transparent;
    outline: 0;
    text-decoration: none; }

a:active,
a:hover {
    outline: 0; }

/*----------------------------------------------
TEXT LEVEL
-Abbr: Address styling not present in IE 8/9/10/11, Safari, and Chrome.
-Bold: Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
dfn, mark: Address unset styles
-Small: Address inconsistent and variable font size in all browsers.
-Prevent `sub` and `sup` affecting `line-height` in all browsers.
-----------------------------------------------  */
abbr[title] {
    border-bottom: 1px dotted; }

b,
strong {
    font-weight: bold; }

dfn {
    font-style: italic; }

mark {
    background: #ff0;
    color: #000; }

small {
    font-size: 80%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

/*----------------------------------------------
HEADERS
-Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome.
-Remove Margins from headers and type elements to better define in your typographic system
-----------------------------------------------  */
h1 {
    font-size: 2em;
    margin: 0.67em 0; }

h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dd, small {
    margin: 0;
    padding: 0; }

/*----------------------------------------------
IMAGES & EMBEDDED CONTENT
-Responsive defualt
-IE Scaling fix
-----------------------------------------------  */
img, object, embed {
    max-width: 100%;
    height: auto; }

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    outline: none; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/*----------------------------------------------
SVG
-Correct overflow not hidden in IE 9/10/11
-----------------------------------------------  */
svg:not(:root) {
    overflow: hidden; }

/*----------------------------------------------
Google Maps responsive fix
-----------------------------------------------  */
#map_canvas img,
.map_canvas img {
    max-width: none !important; }

/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }

/*----------------------------------------------
CODE & PREFORMATED
-----------------------------------------------  */
pre {
    overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em; }

/*----------------------------------------------
FORMS
-----------------------------------------------  */
form {
    margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    margin: 0;
    /* 3 */
    font-size: 100%;
    vertical-align: middle; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
    overflow: visible;
    line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }

/* Ensure pointer */
label,
select,
button,
input {
    cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

input:focus,
select:focus,
textarea:focus,
button:focus,
.btn:focus {
    outline: none; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
    vertical-align: text-bottom;
    width: 100%; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold; }

/*----------------------------------------------
TABLES
-----------------------------------------------  */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0; }

td,
th {
    padding: 0; }

/* --Modules
=======================================*/
/*----------------------------------------------
--Google Fonts Import
-----------------------------------------------  */
/*----------------------------------------------
--Typography: Body
-----------------------------------------------  */
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; }

/*----------------------------------------------
--Typography: Fluid body sizing hotness
* Adjust to suit your needs.
-----------------------------------------------  */
body {
    font-size: 100%; }
@media (min-width: 36em) {
    body {
        font-size: 110%; } }
@media (min-width: 58em) {
    body {
        font-size: 120%; } }
@media (min-width: 86em) {
    body {
        font-size: 130%; } }
@media (min-width: 115em) {
    body {
        font-size: 160%; } }
@media (min-width: 125em) {
    body {
        font-size: 170%; } }
@media (min-width: 145em) {
    body {
        font-size: 180%; } }

/*----------------------------------------------
--Typography: Headers
-----------------------------------------------  */
h1 {
    font-size: 2.75em;
    color: rgba(255, 255, 255, 0.8);
    font-family: "playfair display", georgia, times, serif;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.2; }
@media (min-width: 58em) {
    h1 {
        font-size: calc(2.75em + 70%); } }

/*----------------------------------------------
--Typography: paragraph
-----------------------------------------------  */
p {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300; }

/*----------------------------------------------
--Links
-----------------------------------------------  */
a {
    color: #98DAEE;
    -webkit-transition: color 0.7s ease;
    -moz-transition: color 0.7s ease;
    transition: color 0.7s ease; }
a:hover {
    color: #56c2e3;
    -webkit-transition: color 0.7s ease;
    -moz-transition: color 0.7s ease;
    transition: color 0.7s ease; }

/*----------------------------------------------
--Setup
-----------------------------------------------  */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html {
   /* font-size: 100%;*/
    width: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #7690A4; }

body {
    -webkit-animation: fade-in ease-in-out 1.4s;
    -moz-animation: fade-in ease-in-out 1.4s;
    animation: fade-in ease-in-out 1.4s; }

/*----------------------------------------------
--Banner
-----------------------------------------------  */
.sect-banner {
    display: table;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    color: rgba(255, 255, 255, 0.9);
    /*----------------------------------------------
    -DEMO2: Banner bg
    -----------------------------------------------  */ }
.sect-banner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(118, 144, 164, 0.4);
    z-index: 0; }
.sect-banner .v-center {
    position: relative;
    z-index: 2; }
.sect-banner .v-center {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 4;
    padding: 0 5%; }
.sect-banner .v-center h1 {
    -webkit-animation: fade-in ease-in-out 2s 0.5s both;
    -moz-animation: fade-in ease-in-out 2s 0.5s both;
    animation: fade-in ease-in-out 2s 0.5s both; }
.sect-banner .v-center p {
    font-size: 120%;
    -webkit-animation: fade-in ease-in-out 2s 1s both;
    -moz-animation: fade-in ease-in-out 2s 1s both;
    animation: fade-in ease-in-out 2s 1s both; }
.sect-banner .banner-bg {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    background-image: url(../backgrounds/1.jpg);
    -webkit-animation: slider-sm ease-in-out 30s both infinite;
    -moz-animation: slider-sm ease-in-out 30s both infinite;
    animation: slider-sm ease-in-out 30s both infinite;
}
@media (min-width: 58em) {
    .sect-banner .banner-bg {
        background-image: url(../backgrounds/1.jpg);
        -webkit-animation: slider-lg ease-in-out 30s both infinite;
        -moz-animation: slider-lg ease-in-out 30s both infinite;
        animation: slider-lg ease-in-out 30s both infinite; } }

/*----------------------------------------------
-DEMO1: Unordered list
-----------------------------------------------  */
ul.kf-slider li {
    height: 100% !important;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    opacity: 0;
    -webkit-animation: fade-out 160s infinite both;
    -moz-animation: fade-out 160s infinite both;
    animation: fade-out 160s infinite both;
    background-image: url(../backgrounds/1.jpg); }
@media (min-width: 58em) {
    ul.kf-slider li {
        background-image: url(../backgrounds/1.jpg);
    }
}

ul.kf-slider li:nth-child(2) {
    background-image: url(../backgrounds/2.jpg);
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    animation-delay: 10s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(2) {
        background-image: url(../backgrounds/2.jpg);
    }
}

ul.kf-slider li:nth-child(3) {
    background-image: url(../backgrounds/2.jpg);
    -webkit-animation-delay: 20s;
    -moz-animation-delay: 20s;
    animation-delay: 20s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(3) {
        background-image: url(../backgrounds/3.jpg);
    }
}

ul.kf-slider li:nth-child(4) {
    background-image: url(../backgrounds/4.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    animation-delay: 30s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(4) {
        background-image: url(../backgrounds/4.jpg);
    }
}

ul.kf-slider li:nth-child(5) {
    background-image: url(../backgrounds/5.jpg);
    -webkit-animation-delay: 40s;
    -moz-animation-delay: 40s;
    animation-delay: 40s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(5) {
        background-image: url(../backgrounds/5.jpg);
    }
}

ul.kf-slider li:nth-child(6) {
    background-image: url(../backgrounds/6.jpg);
    -webkit-animation-delay: 50s;
    -moz-animation-delay: 50s;
    animation-delay: 50s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(6) {
        background-image: url(../backgrounds/6.jpg);
    }
}


ul.kf-slider li:nth-child(7) {
    background-image: url(../backgrounds/7.jpg);
    -webkit-animation-delay: 60s;
    -moz-animation-delay: 60s;
    animation-delay: 60s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(7) {
        background-image: url(../backgrounds/7.jpg);
    }
}

ul.kf-slider li:nth-child(8) {
    background-image: url(../backgrounds/8.jpg);
    -webkit-animation-delay: 70s;
    -moz-animation-delay: 70s;
    animation-delay: 70s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(8) {
        background-image: url(../backgrounds/8.jpg);
    }
}

ul.kf-slider li:nth-child(9) {
    background-image: url(../backgrounds/9.jpg);
    -webkit-animation-delay: 80s;
    -moz-animation-delay: 80s;
    animation-delay: 80s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(9) {
        background-image: url(../backgrounds/9.jpg);
    }
}

ul.kf-slider li:nth-child(10) {
    background-image: url(../backgrounds/10.jpg);
    -webkit-animation-delay: 90s;
    -moz-animation-delay: 90s;
    animation-delay: 90s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(10) {
        background-image: url(../backgrounds/10.jpg);
    }
}

ul.kf-slider li:nth-child(11) {
    background-image: url(../backgrounds/11.jpg);
    -webkit-animation-delay: 100s;
    -moz-animation-delay: 100s;
    animation-delay: 100s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(11) {
        background-image: url(../backgrounds/11.jpg);
    }
}

ul.kf-slider li:nth-child(12) {
    background-image: url(../backgrounds/11.jpg);
    -webkit-animation-delay: 110s;
    -moz-animation-delay: 110s;
    animation-delay: 110s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(12) {
        background-image: url(../backgrounds/11.jpg);
    }
}

ul.kf-slider li:nth-child(13) {
    background-image: url(../backgrounds/13.jpg);
    -webkit-animation-delay: 120s;
    -moz-animation-delay: 120s;
    animation-delay: 120s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(13) {
        background-image: url(../backgrounds/13.jpg);
    }
}

ul.kf-slider li:nth-child(14) {
    background-image: url(../backgrounds/14.jpg);
    -webkit-animation-delay: 130s;
    -moz-animation-delay: 130s;
    animation-delay: 130s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(14) {
        background-image: url(../backgrounds/14.jpg);
    }
}

ul.kf-slider li:nth-child(15) {
    background-image: url(../backgrounds/15.jpg);
    -webkit-animation-delay: 140s;
    -moz-animation-delay: 140s;
    animation-delay: 140s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(15) {
        background-image: url(../backgrounds/15.jpg);
    }
}

ul.kf-slider li:nth-child(16) {
    background-image: url(../backgrounds/16.jpg);
    -webkit-animation-delay: 150s;
    -moz-animation-delay: 150s;
    animation-delay: 150s;
}
@media (min-width: 58em) {
    ul.kf-slider li:nth-child(16) {
        background-image: url(../backgrounds/16.jpg);
    }
}
/*----------------------------------------------
-Footer
-----------------------------------------------  */
footer {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 1em; }


@-webkit-keyframes fade-in {
    0% {  opacity: 0; }
    100% {  opacity: 1; }
}
@-moz-keyframes fade-in {
    0% {  opacity: 0; }
    100% {  opacity: 1; }
}
@keyframes fade-in {
    0% {  opacity: 0; }
    100% {  opacity: 1; }
}
/*----------------------------------------------
--Fade out for slider
-----------------------------------------------  */
@-webkit-keyframes fade-out {
    10% {  opacity: 1; }
    90% {  opacity: 0; }
}
@-moz-keyframes fade-out {
    10% {  opacity: 1;  }
    90% {  opacity: 0;  }
}
@keyframes fade-out {
    10% {  opacity: 1;  }
    90% {  opacity: 0;  }
}
/*----------------------------------------------
--Keyframes Slider - Sm
-----------------------------------------------  */
@-webkit-keyframes slider-sm {

    0%{background-image: url(../backgrounds/1.jpg); }
    6.25%{background-image: url(../backgrounds/2.jpg); }
    12.5%{background-image: url(../backgrounds/3.jpg); }
    18.75%{background-image: url(../backgrounds/4.jpg); }
    25%{background-image: url(../backgrounds/5.jpg); }
    31.25%{background-image: url(../backgrounds/1.jpg); }
    37.5%{background-image: url(../backgrounds/6.jpg); }
    43.75%{background-image: url(../backgrounds/7.jpg); }
    50%{background-image: url(../backgrounds/8.jpg); }
    56.25%{background-image: url(../backgrounds/9.jpg); }
    62.5%{background-image: url(../backgrounds/10.jpg); }
    68.75%{background-image: url(../backgrounds/11.jpg); }
    75%{background-image: url(../backgrounds/12.jpg); }
    81.25%{background-image: url(../backgrounds/13.jpg); }
    87.5%{background-image: url(../backgrounds/14.jpg); }
    93.75%{background-image: url(../backgrounds/15.jpg); }
    100%{background-image: url(../backgrounds/16.jpg); }
}
@-moz-keyframes slider-sm {
    0%{background-image: url(../backgrounds/1.jpg); }
    6.25%{background-image: url(../backgrounds/2.jpg); }
    12.5%{background-image: url(../backgrounds/3.jpg); }
    18.75%{background-image: url(../backgrounds/4.jpg); }
    25%{background-image: url(../backgrounds/5.jpg); }
    31.25%{background-image: url(../backgrounds/1.jpg); }
    37.5%{background-image: url(../backgrounds/6.jpg); }
    43.75%{background-image: url(../backgrounds/7.jpg); }
    50%{background-image: url(../backgrounds/8.jpg); }
    56.25%{background-image: url(../backgrounds/9.jpg); }
    62.5%{background-image: url(../backgrounds/10.jpg); }
    68.75%{background-image: url(../backgrounds/11.jpg); }
    75%{background-image: url(../backgrounds/12.jpg); }
    81.25%{background-image: url(../backgrounds/13.jpg); }
    87.5%{background-image: url(../backgrounds/14.jpg); }
    93.75%{background-image: url(../backgrounds/15.jpg); }
    100%{background-image: url(../backgrounds/16.jpg); }
}
@keyframes slider-sm {
    0%{background-image: url(../backgrounds/1.jpg); }
    6.25%{background-image: url(../backgrounds/2.jpg); }
    12.5%{background-image: url(../backgrounds/3.jpg); }
    18.75%{background-image: url(../backgrounds/4.jpg); }
    25%{background-image: url(../backgrounds/5.jpg); }
    31.25%{background-image: url(../backgrounds/1.jpg); }
    37.5%{background-image: url(../backgrounds/6.jpg); }
    43.75%{background-image: url(../backgrounds/7.jpg); }
    50%{background-image: url(../backgrounds/8.jpg); }
    56.25%{background-image: url(../backgrounds/9.jpg); }
    62.5%{background-image: url(../backgrounds/10.jpg); }
    68.75%{background-image: url(../backgrounds/11.jpg); }
    75%{background-image: url(../backgrounds/12.jpg); }
    81.25%{background-image: url(../backgrounds/13.jpg); }
    87.5%{background-image: url(../backgrounds/14.jpg); }
    93.75%{background-image: url(../backgrounds/15.jpg); }
    100%{background-image: url(../backgrounds/16.jpg); }
}
/*----------------------------------------------
--Keyframes Slider - Lg
-----------------------------------------------  */
@-webkit-keyframes slider-lg {
    0%{background-image: url(../backgrounds/1.jpg); }
    6.25%{background-image: url(../backgrounds/2.jpg); }
    12.5%{background-image: url(../backgrounds/3.jpg); }
    18.75%{background-image: url(../backgrounds/4.jpg); }
    25%{background-image: url(../backgrounds/5.jpg); }
    31.25%{background-image: url(../backgrounds/1.jpg); }
    37.5%{background-image: url(../backgrounds/6.jpg); }
    43.75%{background-image: url(../backgrounds/7.jpg); }
    50%{background-image: url(../backgrounds/8.jpg); }
    56.25%{background-image: url(../backgrounds/9.jpg); }
    62.5%{background-image: url(../backgrounds/10.jpg); }
    68.75%{background-image: url(../backgrounds/11.jpg); }
    75%{background-image: url(../backgrounds/12.jpg); }
    81.25%{background-image: url(../backgrounds/13.jpg); }
    87.5%{background-image: url(../backgrounds/14.jpg); }
    93.75%{background-image: url(../backgrounds/15.jpg); }
    100%{background-image: url(../backgrounds/16.jpg); }
}
@-moz-keyframes slider-lg {
    0%{background-image: url(../backgrounds/1.jpg); }
    6.25%{background-image: url(../backgrounds/2.jpg); }
    12.5%{background-image: url(../backgrounds/3.jpg); }
    18.75%{background-image: url(../backgrounds/4.jpg); }
    25%{background-image: url(../backgrounds/5.jpg); }
    31.25%{background-image: url(../backgrounds/1.jpg); }
    37.5%{background-image: url(../backgrounds/6.jpg); }
    43.75%{background-image: url(../backgrounds/7.jpg); }
    50%{background-image: url(../backgrounds/8.jpg); }
    56.25%{background-image: url(../backgrounds/9.jpg); }
    62.5%{background-image: url(../backgrounds/10.jpg); }
    68.75%{background-image: url(../backgrounds/11.jpg); }
    75%{background-image: url(../backgrounds/12.jpg); }
    81.25%{background-image: url(../backgrounds/13.jpg); }
    87.5%{background-image: url(../backgrounds/14.jpg); }
    93.75%{background-image: url(../backgrounds/15.jpg); }
    100%{background-image: url(../backgrounds/16.jpg); }
}
@keyframes slider-lg {
    0%{background-image: url(../backgrounds/1.jpg); }
    6.25%{background-image: url(../backgrounds/2.jpg); }
    12.5%{background-image: url(../backgrounds/3.jpg); }
    18.75%{background-image: url(../backgrounds/4.jpg); }
    25%{background-image: url(../backgrounds/5.jpg); }
    31.25%{background-image: url(../backgrounds/1.jpg); }
    37.5%{background-image: url(../backgrounds/6.jpg); }
    43.75%{background-image: url(../backgrounds/7.jpg); }
    50%{background-image: url(../backgrounds/8.jpg); }
    56.25%{background-image: url(../backgrounds/9.jpg); }
    62.5%{background-image: url(../backgrounds/10.jpg); }
    68.75%{background-image: url(../backgrounds/11.jpg); }
    75%{background-image: url(../backgrounds/12.jpg); }
    81.25%{background-image: url(../backgrounds/13.jpg); }
    87.5%{background-image: url(../backgrounds/14.jpg); }
    93.75%{background-image: url(../backgrounds/15.jpg); }
    100%{background-image: url(../backgrounds/16.jpg); }
}
