
@media screen and (min-width: 650px) {

    .dashboard{
        width : 100vw !important;
        height:  100% !important;
        overflow : hidden !important;
        padding:0px !important;
        margin:  0px !important;
    }

    .dashboard .dashboard-background {
        background-color : #fbbb3d !important;
    }

    .dashboard .color {
        color : #fbbb3d !important;
    }

    .dashboard  .SR .dashboard-color {
        border-right : 2px solid #fbbb3d;
        color: #fbbb3d !important;
    }

    .dashboard  .SR  .btn-icon{
        background-color : transparent;
        transition-duration: 0.5s;
        transition-property: background-color;
        transition-timing-function: linear;
    }

    .dashboard  .SR  .btn-icon:hover > *{
        color: white !important;
        background-color:  #fbbb3d !important;
    }

    .dashboard .alert-dashboard-viewer{
        padding: 15px !important;
        border: 1px solid rgb(197, 197, 197);
        background-color: white;
        margin : 10px !important;
        transition-delay: 0s;
        -moz-transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-duration: 200ms;
        -moz-transition-duration: 200ms;
        -webkit-transition-duration: 200ms;
        transition-property: all;
        -moz-transition-property: all;
        -webkit-transition-property: all;
        transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        width:calc(100% - 35px);
    }

    .dashboard  .alert-dashboard-viewer:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
    }

    .dashboard .dividerPanel{
        height: 1px;
        border: 1px solid  #fbbb3d;
        margin: 0px 5px;
    }

    .dashboard  .SR  .btn-icon:hover{
        color: white !important;
        background-color:  #fbbb3d !important;
        border-right : 2px solid white !important;
        border-left : 2px solid white !important;
    }

    .dashboard  .D div.hidden-item{
        height : 100%;
        width  : 100%;
        display: none;
        opacity: 0;
        position: relative;
        /*transition: opacity 3s ease-out;
        -webkit-transition:  opacity 3s ease-out;
        -moz-transition: opacity 3s ease-out;
        -o-transition:  opacity 3s ease-out;
        -ms-transition: opacity 3s ease-out;*/
    }

    .dashboard  .D  div.show{
        display: inline !important;
        opacity: 1 !important;
    }

    /** TODO Navbar From All Styles **/
    .dashboard .D  ul{
        width : 100%;
    }

    .dashboard .D ul i.navbar-show{
        padding:5px !important;
        margin:5px  0px !important;
        width : 100% !important;
        word-break: break-all !important;
        word-wrap: break-word !important;
        min-height: 30px;
        float:right;

        background-color : transparent;
        transition-duration: 0.5s;
        transition-property: background-color;
        transition-timing-function: ease-out;
    }

    .dashboard .D ul i.selected-nav{
        color : #fbbb3d;
        border-right : 2px solid #fbbb3d;
    }

    .dashboard  .D  ul i.navbar-show:hover > *{
        color: white !important;
        background-color:  #fbbb3d !important;
        cursor: pointer;
    }

    .dashboard  .D  ul i.navbar-show:hover{
        color: white !important;
        background-color:  #fbbb3d !important;
        border-right : 2px solid white;
        border-left : 2px solid white;
        cursor: pointer;
    }

    .dashboard .D ul i.navbar-show .icon-show{
        cursor: pointer;
        font-size: 10px;
        margin: 5px 0px;
        width : 25px;
        text-align: center;
        float: right;
    }

    .dashboard .D ul i.navbar-show  span.label-show{
        max-width: calc(100% - 40px);
        width: calc(100% - 40px);
        float: right;
        font-size: 10px  !important;
        margin-top: 5px;
        text-align: justify;
        word-break: break-all;
        word-wrap: break-word;
    }

    .dashboard .CR div.tabel-body{
        background-color: #ede223;
        height: 100%;
        overflow: hidden;
        padding: 4px;
        width: 100%;
    }

    .dashboard .CR div.tabel-body  div.body-view{
        background-color: #23dde1;
        width: 100%;
        height: calc(100% - 10px);
        overflow: auto;
        padding-top: 10px;
        background-color: white;
        text-align: center;
        vertical-align: middle;
    }

    .dashboard .CR div.tabel-body  div.body-view .not-result{
        display : none;
        height: 200px;
        overflow: hidden;
        margin-top : calc(50vh - 150px);
        margin-left: auto;
        margin-right: auto;
        width: auto ! important;
        padding:50px 20px 20px 20px;
        border: 1px solid rgba(197,197,197,1);
    }

    .dashboard .CR div.tabel-body  div.body-view .not-result.display{
        display : inline-block;
    }



    .dashboard .CR div.tabel-body  div.body-view .not-result  .dashboard-refresh{
        font-size: 22px;
        color: red;
    }

    .dashboard .CR div.tabel-body  div.body-view .not-result  .dashboard-refresh:hover{
        text-shadow: 2px 2px 4px rgba(255,0,0,1);
    }

    .dashboard .CR div.tabel-body  div.body-view .not-result  .dashboard-ban{
        font-size: 22px;
        color: red;
        margin-left:5px;
    }

    .dashboard .CR div.tabel-body  div.body-view .not-result  .dashboard-ban:hover{
        text-shadow: 2px 2px 4px rgba(255,0,0,1);
    }

    .dashboard .CR div.tabel-body  div.body-view table{
        display : none;
        /*max-height: calc(100vh - 70px);*/
       /* overflow: hidden;*/
        margin-left: auto;
        margin-right: auto;
        width: auto ! important;
        padding : 5px !important;
    }

    .dashboard .CR div.tabel-body  div.body-view table  thead  {
        /*background-color : #fbbb3d !important;
        color: white !important;*/
        background-color : #c3d9ff !important;
    }

    .dashboard .CR div.tabel-body  div.body-view table  thead  a{
        color: black !important;
    }

    .dashboard .CR div.tabel-body  div.body-view table  thead  a  span{
        font-size:12px !important;
    }

    .dashboard .CR div.tabel-body  div.body-view table  thead  span{
        font-size:12px !important;
    }

    .dashboard .CR div.tabel-body  div.body-view table  tr:hover{
       /* box-shadow: 0 0 6px rgba(251,187,61,1) !important;*/
        box-shadow: 0 0 6px rgba(35,173,255,1) !important;
        cursor: pointer !important;
    }

    .dashboard .CR div.tabel-body  div.body-view table  tr:nth-child(even){
        /*background-color:   rgba(240, 197, 71, 0.8) !important;
        color:white !important;*/
        background-color: rgba(224, 236, 255, 0.8) !important;
    }

    .dashboard .CR div.tabel-body  div.body-view table tbody tr:hover{
        box-shadow: 0 0 6px rgba(35,173,255,1);
        background-color :  rgba(35,173,255,1) !important;
        color : white !important;
    }

    /*.dashboard .CR div.tabel-body  div.body-view table  tr:nth-child(even)  td label{
        color:white !important;
    }
    .dashboard .CR div.tabel-body  div.body-view table  tr:nth-child(even)  td span{
        color:white !important;
    }*/

    .dashboard .CR div.tabel-body  div.body-view table.display{
        display : inline-block;
    }

    .dashboard .CR div.tabel-body  div.body-view table tbody td.position-center img{
        height: 60px !important;
        position: relative !important;
        width: auto !important;
        max-width: 80px !important;
        cursor: pointer;
    }

    .dashboard .CR div.tabel-body  div.body-view table tbody td.position-center  span{
        overflow-wrap: break-word;
        word-break: break-all;
        text-align: justify;
        padding : 2px !important
    }

    .dashboard  .D .zonesHeader{
        background-color: #fbbb3d;
        color: white;
        height: 28px;
        margin-top: 0;
        padding : 3px;
        border-bottom:2px solid white;
    }

    .dashboard  .D  .zonesHeader  span{
        margin-right: 10px !important;
    }



}

@media screen and (max-width: 700px) {
    .dashboard  .D  ul i.navbar-show .not-view{
        display: none;
    }

    .dashboard .D ul i.navbar-show .icon-show{
        width:100% !important;
    }
}