<style>
    .modal-header{
        background-color: rgb(38, 166, 154) !important;
        color: white !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        margin: -15px 0px 0px 0px !important;
    }

    .modal-footer{
        padding: 0px!important;
        margin: 0px !important;
        height : 100% !important;
    }

    .modal-footer #okButon{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }

    .modal-footer #okButon:hover{
        box-shadow  :  0 0 10px rgba(35,173,255,1);
        background-color : rgba(35,173,255,1);
        color : white;
    }

    .modal-footer #okButon md-icon{
        padding-left: 11px !important;
        border-left: 1px solid rgba(35,173,255,1);
    }

    .modal-footer #okButon:hover md-icon{
        color : white;
        border-left: 1px solid white !important;
    }


    .modal-footer #cancelButon{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }

    .modal-footer #cancelButon:hover{
        box-shadow  :  0 0 10px rgba(255,134,29,1);
        background-color : rgba(255,134,29,1);
        color : white;
    }

    .modal-footer #cancelButon md-icon{
        padding-left: 5px !important;
        border-left: 1px solid rgba(255,134,29,1);
    }

    .modal-footer #cancelButon:hover md-icon{
        color : white;

        border-left: 1px solid white !important;
    }

    .modal-footer  section md-button{
        padding-left  : 0px !important;
        padding-right : 0px !important;
    }

    .modal-footer  section md-button md-icon{
        border-left: 1px solid rgb(197, 197, 197);
        padding-right: 0px  !important;
        padding-left: 6px  !important;
    }


    .modal-body .form-generator{
        overflow-y : auto;
        overflow-x : hidden;
    }
    .modal-body .form-generator input[type="text"],input[type="number"],input[type="email"],input[type="url"]{
        direction: ltr;
        text-align: right;
    }
    .modal-body .form-generator input[type="text"]:active,input[type="text"]:focus{
        outline: none !important;
    }
    .modal-body .form-generator input[type="text"],input[type="number"],input[type="email"],input[type="url"]:-moz-placeholder {
        text-align: right;
    }
    .modal-body .form-generator input[type="text"],input[type="number"],input[type="email"],input[type="url"]:-ms-input-placeholder {
        text-align: right;
    }
    .modal-body .form-generator input[type="text"],input[type="number"],input[type="email"],input[type="url"]::-webkit-input-placeholder {
        text-align: right;
    }

    .modal-body .form-generator #success-occure{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }
    .modal-body .form-generator #success-occure:hover{
        box-shadow  :  0 0 10px rgba(35,173,255,1);
        background-color : rgba(35,173,255,1);
        color : white;
    }
    .modal-body .form-generator #success-occure md-icon{
        padding-left: 5px !important;
        border-left: 1px solid rgba(35,173,255,1);
    }
    .modal-body .form-generator #success-occure:hover md-icon{
        color : white;
        border-left: 1px solid white !important;
    }

    .modal-body .form-generator  #error-occure{
        border-radius: 0px ! important;
        transition-duration: 0.5s;
        transition-property: background-color,color;
        transition-timing-function: ease-in;
    }
    .modal-body .form-generator  #error-occure:hover{
        box-shadow  :  0 0 10px rgba(255,134,29,1);
        background-color : rgba(255,134,29,1);
        color : white;
    }
    .modal-body .form-generator  #error-occure md-icon{
        padding-left: 5px !important;
        border-left: 1px solid rgba(255,134,29,1);
    }
    .modal-body .form-generator #error-occure:hover md-icon{
        color : white;
        border-left: 1px solid white !important;
    }

    .modal-body .form-generator  input.ltrDirection{
        direction: ltr !important;
        text-align: left !important;
    }

    .modal-body .form-generator .increase-datepicker{
        margin-bottom : 250px !important;
    }
</style>
<div class="modal-header fontStyle" >اعمال تغییرات کلی</div>
<div class="modal-body row" >
    <div layout="row">


        <form
                role="form"
                novalidate
                name="FORM.formEditor"
                class="form-generator col-sm-12"
                style="height: 250px;">
            <div class="col-sm-12 row form-group" ng-repeat="property in data.properties"   style="padding: 0px; margin:0px !important;">


                <!--  TODO -------------------------------------Text ---------------------------------->
                <div
                        layout="row"
                        ng-if="property.objClass=='com.openkm.bean.form.Input' && property.type=='text' &&  !property.isThesaurus"
                        class="row form-group col-sm-12 col-xs-12"
                        style="padding-left:2px ;padding-right:2px;"
                >
                    <md-input-container class="md-block md-icon-float col-sm-12 col-xs-12" style="padding : 0px !important">
                        <label>{{property.label}}</label>
                        <input
                                style="font-size: 14px !important;"
                                id="#{{property.name}}"
                                type="text"
                                ng-disabled="property.readonly"
                                name="{{property.name}}"
                                ng-model="property.value"
                                ng-class="{'ltrDirection':property.isLTR}"
                        />

                        <div ng-messages="FORM.formEditor[property.name].$error" role="alert"  ng-if="FORM.formEditor[property.name].$error">
                            <div ng-message="required">
                                لطفا برای محتوا عبارتی را وارد کنید
                            </div>
                            <div ng-message="minlength">
                                حداقل یک کاراکتر وارد کنید
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <!--  TODO -------------------------------------Thesaurus ---------------------------------->
                <div
                        layout="row"
                        ng-if="property.objClass=='com.openkm.bean.form.Input' && property.type=='text' && property.isThesaurus"
                        class="row form-group col-sm-12 col-xs-12"
                        style="padding-left:2px ;padding-right:2px;"
                >
                    <md-input-container class="md-block md-icon-float col-sm-12 col-xs-12" style="padding : 0px !important">
                        <label>{{property.label}}</label>
                        <input
                                style="font-size: 14px !important;"
                                id="#{{property.name}}"
                                type="text"
                                ng-disabled="property.readonly"
                                name="{{property.name}}"
                                ng-model="property.value"
                                ng-class="{'ltrDirection':property.isLTR}"
                        />

                        <div ng-messages="FORM.formEditor[property.name].$error" role="alert"  ng-if="FORM.formEditor[property.name].$error">
                            <!--<div ng-message="pattern" >
                               عبارت ورودی صحیح نمی باشد
                            </div>-->
                            <div ng-message="required">
                                لطفا برای محتوا عبارتی را وارد کنید
                            </div>
                            <div ng-message="minlength">
                                حداقل یک کاراکتر وارد کنید
                            </div>
                        </div>
                    </md-input-container>
            <span
                    ng-click="selectTreeThezarus(property,$index)"
                    class="fa fa-plus"
                    style="margin-top: 30px; margin-left: 0px; cursor: pointer;">
                <md-tooltip  md-direction="bottom">
                    انتخاب از درخت تزاروس
                </md-tooltip>
            </span>
                </div>

                <!--  TODO -------------------------------------Date ---------------------------------->
                <div
                        style="padding-left:2px ;padding-right:2px;"
                        ng-if="property.objClass=='com.openkm.bean.form.Input' && property.type=='date'"
                        class="row form-group col-sm-12 col-xs-12 "
                        style="margin: 0 !important;padding:25px 0 !important;">
                <span>
                    <div class="col-sm-12" style="margin-left: 0px ! important; padding-left: 0px ! important; margin-right: 0px ! important; padding-right: 0px ! important;">
                        <div class="input-group" ng-class="{'increase-datepicker':data.isOpen[property.name]}"  style="direction: ltr;">
                                    <span
                                            id="dateId-{{$index}}"
                                            class="input-group-addon"
                                            style="background-color: transparent; cursor: pointer; border-radius: 0px; border-right: 0px;border-top:0px; border-bottom:1px solid rgba(197,197,197,1) !important;"
                                            ng-click="data.open($event,property.name)">
                                        <i class=" fa fa-calendar"></i>
                                    </span>
                            <input name="from"
                                   ng-disabled="property.readonly"
                                   type="text"
                                   style="
                                        background-color: transparent;
                                        padding-left: 0px;
                                        padding-right: 10px;
                                        font-size: 12px;
                                        box-shadow: none !important;
                                        border-width: 0px 0px 1px 0px !important;
                                        border-style: none none solid  none !important;
                                        border-color: transparent  transparent rgba(197, 197, 197 , 1) transparent !important;"
                                   ng-required="{{property.require}}"
                                   placeholder="{{property.label}}"
                                   readonly="readonly"
                                   class="form-control fontStyle"
                                   datepicker-popup-persian="yyyy/MM/dd"
                                   ng-model="property.value"
                                   is-open="data.isOpen[property.name]"
                                   aria-describedby="dateId-{{$index}}"
                                   ng-change = "changeDate(property,$index)"
                                   current-text="امروز" clear-text="پاک کردن" close-text="لغو"
                                   starting-day="6" />

                        </div>
                    </div>
                </span>
                </div>


                <!--  TODO -------------------------------------Single Select ---------------------------------->
                <div style="padding-left:2px ;padding-right:2px;" layout="row"  class="row form-group col-sm-12" ng-if="property.objClass=='com.openkm.bean.form.Select' && property.type=='simple' ">
                    <md-input-container class="md-block  col-sm-12 "  style=" padding: 0;">
                        <label>{{property.label}}</label>
                        <md-select
                                class="md-block  col-sm-12 pull-right"
                                placeholder="{{property.label}}"
                                ng-model="property.selected"
                                ng-change="selectSingleSelected($index)"
                                style="min-width: 200px;padding-left: 0;padding-right: 0;">
                            <md-option ng-value="null"><em>عدم انتخاب</em></md-option>
                            <md-option ng-value="p" ng-repeat="p in property.options">{{p.label}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <!--  TODO -------------------------------------Multi Select ---------------------------------->
                <div style="padding-left:2px ;padding-right:2px;"  layout="row"  class="row form-group col-sm-12" ng-if="property.objClass=='com.openkm.bean.form.Select' && property.type=='multiple' ">
                    <md-input-container class="md-block  col-sm-12 "  style=" padding: 0;">
                        <label>{{property.label}}</label>
                        <md-select
                                class="md-block  col-sm-12 pull-right"
                                ng-disabled="property.readonly"
                                placeholder="{{property.label}}"
                                ng-model="property.selected"
                                ng-change="selectMultiSelected($index)"
                                multiple="true"
                                style="min-width: 200px;padding-left: 0;padding-right: 0;">
                            <md-option ng-value="p" ng-repeat="p in property.options">{{p.label}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <!--  TODO -------------------------------------Texx Area ---------------------------------->
                <div style="padding-left:2px ;padding-right:2px;" ng-if="property.objClass == 'com.openkm.bean.form.TextArea'" class="row form-group col-sm-12">
                    <span class="col-sm-12 pull-right" ng-bind="property.label"></span>
                <textarea class="form-control col-sm-12" cols="7" rows="4" style="resize: vertical;width: 100%!important;font-size: 15px;padding: 5px;"
                          ng-model="property.value"
                          ng-disabled="property.readonly"
                          ui-keypress="{13:'addElement(property,FORM.formEditor,$index)'}"
                >

                </textarea>
                </div>

                <!----------------------------CheckBox --------------------------------->
                <div style="padding-left:2px ;padding-right:2px;" style="margin: 10px 0px;" layout="row" class="row form-group col-sm-12" ng-if="property.objClass == 'com.openkm.bean.form.CheckBox'">
                    <span class="pull-right" ng-bind="property.label"></span>
                    <md-checkbox ng-disabled="property.readonly" class="pull-right" ng-change = "CheckboxChange(property,$index)" ng-model="property.value" style=" margin-right: 3px;left: 0; opacity: 1; position: relative;">
                    </md-checkbox>
                </div>



            </div>
        </form>




    </div>
</div>
<div class="modal-footer row">
    <div class="row" style="margin-top: 5px ! important;">

        <form name="deleteRelationForm" novalidate role="form">

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button id="okButon"     class="md-raised" ng-click="func.edit()">
                    <md-icon  md-font-icon="fa fa-check  fa-fw"></md-icon>
                    <span style="margin-right: 3px;" >اعمال تغییرات</span>
                </md-button>
                <md-button id="cancelButon"     class="md-raised" ng-click="func.cancel()">
                    <md-icon  md-font-icon="fa fa-remove  fa-fw"></md-icon>
                    <span style="margin-right: 3px;" ng-bind="'desktop.zl.cancel'|translate"></span>
                </md-button>
            </section>
        </form>
    </div>
</div>