<div
        id="toast-container"
        ng-class="[config.position, config.animation]">
    <div
            ng-repeat="toaster in toasters"
            class="toast"
            ng-class="toaster.type"
            ng-click="click(toaster)"
            ng-mouseover="stopTimer(toaster)"
            ng-mouseout="restartTimer(toaster)">
        <div
                ng-if="toaster.showCloseButton"
                ng-click="click(toaster, true)"
                ng-bind-html="toaster.closeHtml">

        </div>
        <div
                ng-class="config.title">
            {{toaster.title}}
        </div>
        <div
                ng-class="config.message"
                ng-switch
                on="toaster.bodyOutputType">
            <div
                    ng-switch-when="trustedHtml"
                    ng-bind-html="toaster.html">

            </div>
            <div
                    ng-switch-when="template">
                <div ng-include="toaster.bodyTemplate"></div>
            </div>
            <div ng-switch-when="templateWithData">
                <div ng-include="toaster.bodyTemplate"></div>
            </div>
            <div ng-switch-when="directive">
                <div
                        directive-template
                        directive-name="{{toaster.html}}"
                        directive-data="{{toaster.directiveData}}">

                </div>
            </div>
            <div ng-switch-default >{{toaster.body}}</div>
        </div>
    </div>
</div>