<div  class="header-nav">
</div>
<div  class="body-advance">

   <div  class="row form-group search-icons"  style="overflow-y: hidden; height: 70px;">

       <md-input-container class="md-block  pull-left "   style="width:110px;padding: 0px; margin-top: 3px ! important;">
           <label>تعداد در صفحه</label>
           <md-select
                   class="md-block  col-sm-12 pull-right"
                   placeholder="نتایج"
                   ng-model="data.advanceOBJ.range"
                   style="padding:1px 5px;">
               <md-option ng-value="range" ng-repeat="range in data.rangs">{{range|pNumber}}</md-option>
           </md-select>
       </md-input-container>

       <section class="pull-right"   style="margin-left:10px;height: 50px; margin-top: -16px;"><!--width: 250px; -->

           <span
                   class="pull-right spanAdvanceIcon"
                   ng-click="data.showComplate = true;"
                   ng-class="{'spanAdvanceIconActivated' : data.showComplate}"
           >
                    <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                              کلی
                    </md-tooltip>
                    <span class="fa fa-list"></span>&nbsp;
                    <div  class="advance-nav-footer"></div>
           </span>

           <span
                   class="pull-right spanAdvanceIcon"
                   ng-click="data.showComplate = false;"
                   ng-class="{'spanAdvanceIconActivated' : !data.showComplate}"
           >
                    <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                               2 قسمت
                    </md-tooltip>
                     <span class="fa fa-th-large"></span>&nbsp;
                    <div  class="advance-nav-footer"></div>
           </span>

           <span
                   class="pull-right spanAdvanceIcon"
                   ng-click="func.showedMetadata()"
           >
                     <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                               نمایش فراداده
                    </md-tooltip>
                     <span class="fa fa-list-alt"></span>&nbsp;
                    <div  class="advance-nav-footer"></div>
           </span>

           <span
                   ng-if="data.profile.prfMenu.prfHelp.webSiteVisible"
                   class="pull-right spanAdvanceIcon"
                   ng-click="func.showRelationsList()"
           >
                     <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                               نمایش رابطه
                    </md-tooltip>
                     <span class="fa fa-link"></span>&nbsp;
                    <div  class="advance-nav-footer"></div>
           </span>

           <span
                   class="pull-right spanAdvanceIcon"
                   ng-click="func.showClipBoardResultsList()"
           >
                     <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                               نمایش حافظه موقت
                    </md-tooltip>
                     <span class="fa fa-save"></span>&nbsp;
                    <div  class="advance-nav-footer"></div>
           </span>

           <span
                   ng-if="data.showType == 'table' && data.list.length > 0"
                   class="pull-right spanAdvanceIcon"
                   ng-click="func.showCSV()"
           >
                     <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                              دریافت فایل csv
                    </md-tooltip>
                    <span class="fa fa-file-excel-o"></span>&nbsp;
                    <div   class="advance-nav-footer"></div>
           </span>


           <span
                   ng-if="data.profile.prfMenu.prfHelp.supportVisible"
                   class="pull-right spanAdvanceIcon"
                   ng-click="func.changeResultSearchedMetaData()"
           >
                     <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                               اعمال تغیی
                    </md-tooltip>
                     <span class="fa fa-pencil-square-o"></span>&nbsp;
                    <div  class="advance-nav-footer"></div>
           </span>

           <span class="pull-right" style="position:relative;margin-top:10px;width:1px;border-left:1px solid rgba(197,197,197,1);height:50px;"></span>

           <span
                   class="pull-right spanAdvanceIcon"
                   ng-click="func.erase()"
           >
                     <span class="showTopTriangleAdvance"></span>
                    <md-tooltip  md-direction="bottom">
                               پاک کردن
                    </md-tooltip>
                     <span class="fa fa-eraser"></span>&nbsp;
                    <div  class="advance-nav-footer"></div>
           </span>

           <span class="pull-right" style="position:relative;margin-top:10px;width:1px;border-left:1px solid rgba(197,197,197,1);height:50px;"></span>

       </section>

       <div  class="pull-right" layout="row" style="text-align: center !important; margin-top: -5px;width: 130px;"><!-- border-left: 1px solid rgb(197, 197, 197); -->


           <div class="pull-right"  >
               <md-switch
                       class="md-primary  pull-left"
                       ng-disabled="!data.selectOneKeywordAndMetaData"
                       ng-model="data.metaAndKeywordSet"
                       aria-label="جستجوی سطح ۲"
                       style="width: 90px; margin-top: 10px; margin-right: 0px;">
                  سطح ۲
               </md-switch>
           </div>

           <span class="pull-right" style="position:relative;padding:2px;width:1px;border-left:1px solid rgba(197,197,197,1);height:50px;"></span>

            <span class="fa fa-search"  ng-click="func.search(0)"  style="font-size: 25px; margin-top: 12px;margin-right:10px;">
                 <md-tooltip  md-direction="bottom">
                    جستجو
                 </md-tooltip>
            </span>


       </div>

   </div>

   <div  class="row form-group filters-list"  ng-if="func.isNotEmptyFilter()">
      <div ng-repeat="(key,filter) in data.filters" class="alert alert-info  filter-alert" role="alert"   id="{{key}}">
         <span class="fa fa-times pull-left" ng-click="func.removeFilter(key);"  style="margin-top:10px;"></span>
         <md-tooltip  md-direction="top">
            {{filter.title}}
         </md-tooltip>
         <span class="control-label  pull-right"  style="vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; display: inline-block; overflow-x: hidden; max-width: 230px;min-width:100px; line-height: 30px;" ng-bind="filter.title|pNumber"></span>
      </div>
   </div>

   <div  class="row form-group search-result" ng-if="data.list.length>0">

       <div class="list-view" ng-if="data.showType == 'view'">
           <div
                   ng-class="{'col-sm-12 search-complate' : data.showComplate , 'col-sm-6 search-half' : !data.showComplate }"
                   class="col-sm-12 alert-mode-viewer"
                   ng-repeat="item in data.list">

               <div class="form-group row col-sm-12">

                   <span   class="pull-right"  ng-bind="item.name" style="text-align: right; direction: ltr; color: blue; text-overflow: ellipsis; white-space: nowrap; display: inline-block; overflow: hidden; font-size: 20px; width: 50%;">

                            <md-tooltip  md-direction="top">
                                {{item.name}}
                            </md-tooltip>
                   </span>

                   <span   class="showViewerResultStart"  ng-repeat="start in item.starts  track by $index">
                            <i   class="fa {{start}}"></i>
                   </span>

               </div>

               <div class="form-group row col-sm-12"  style="margin-bottom: 1px ! important; margin-top: -8px ! important;">
                   <div class="mdContent  search-navigation" style="height: 30px ! important; border: medium none;" >


                            <span
                                    ng-click="func.viewFile(item)"
                                    class="pull-left spanNavIcon fa fa-eye">
                                <md-tooltip  md-direction="bottom" >
                                    {{'search.zl.view_file' | translate}}
                                </md-tooltip>
                           </span>

                       <div class="pull-left view-descriptions"  style="width: 25px; max-height: 35px;">
                                <span class=" spanNavIcon fa fa-ellipsis-v">
                               </span>
                           <div class="hidden-result">

                               <span style="width: 0px; height: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; position: absolute; border-bottom: 8px solid rgba(0, 0, 0, 0.4); top: -8px; left: 43px;"></span>

                               <div class="col-sm-12 row form-group"  style="margin-top: 5px ! important; margin-bottom: 5px ! important;">
                                   <span class="pull-right" >مسیر : </span>
                                   <span class="pull-left content-label" ng-bind="item.path" style="direction: ltr;word-wrap: break-word;word-break: break-all;direction: ltr;"> </span>
                               </div>
                               <div class="col-sm-12 row form-group" style="margin-top: 5px ! important; margin-bottom: 5px ! important;">
                                   <span class="pull-right" >نسخه : </span>
                                   <span class="pull-left content-label" ng-bind="item.actualVersion.name|pNumber" style="direction: ltr;word-wrap: break-word;word-break: break-all;direction: ltr;"></span>
                               </div>
                               <div class="col-sm-12 row form-group" style="margin-top: 5px ! important; margin-bottom: 5px ! important;">
                                   <span class="pull-right" >مالک : </span>
                                   <span class="pull-left content-label" ng-bind="item.author|pNumber" style="direction: ltr;word-wrap: break-word;word-break: break-all;direction: ltr;"></span>
                               </div>
                               <div class="col-sm-12 row form-group" style="margin-top: 5px ! important; margin-bottom: 5px ! important;">
                                   <span class="pull-right" >ایجاد : </span>
                                   <span class="pull-left content-label" ng-bind="item.jalaliCreateDate|pNumber" style="direction: ltr;word-wrap: break-word;word-break: break-all;direction: ltr;"></span>
                               </div>
                           </div>
                       </div>

                            <span
                                    class="pull-left  spanNavIcon fa fa-copy"
                                    ng-if="data.profile.prfMenu.prfEdit.copyVisible"
                                    ng-click="func.copySearch(item)">
                                <md-tooltip  md-direction="bottom" >
                                    {{'desktop.zm.menu.copy' | translate}}
                                </md-tooltip>
                             </span>

                             <span
                                     class="pull-left  spanNavIcon fa fa-scissors"
                                     ng-click="func.cutSearch(item)">
                                <md-tooltip  md-direction="bottom" >
                                    {{'desktop.zm.menu.transfer' | translate}}
                                </md-tooltip>
                             </span>


                            <span
                                    class="pull-left  spanNavIcon fa fa-trash"
                                    ng-click="func.removeSearch(item)"
                                    ng-if="data.profile.prfMenu.prfFile.purgeTrashVisible">
                                <md-tooltip  md-direction="bottom" >
                                    {{'desktop.zm.menu.remove' | translate}}
                                </md-tooltip>
                            </span>



                            <span
                                    class="pull-left "
                                    style="border-left: 1px solid rgb(197, 197, 197); width: 1px; height: 30px; margin-top: 2px;">
                             </span>
                            <span
                                    class="pull-left  spanNavIcon fa fa-download"
                                    ng-click="func.downloadSearch(item)"
                                    ng-if="data.profile.prfMenu.prfFile.downloadVisible">
                                <md-tooltip  md-direction="bottom" >
                                   {{'desktop.zm.menu.download' | translate}}
                                </md-tooltip>
                            </span>
                            <span
                                    ng-if="data.profile.prfMenu.prfEdit.addCategoryVisible"
                                    class="pull-left  spanNavIcon fa fa-list"
                                    ng-click="func.addCategoriesSearch(item)">
                                <md-tooltip  md-direction="bottom" >
                                    {{'desktop.zm.menu.addCategory' | translate}}
                                </md-tooltip>
                            </span>

                              <span
                                      class="pull-left "
                                      style="border-left: 1px solid rgb(197, 197, 197); width: 1px; height: 30px; margin-top: 2px;">
                             </span>

                            <span
                                    class="pull-left  spanNavIcon fa fa-cog"
                                    ng-click="func.addWorkFlowSearch(item)"
                                    ng-if="data.profile.prfMenu.prfFile.startWorkflowVisible && data.profile.prfToolbar.startWorkflowVisible">
                                <md-tooltip  md-direction="bottom" >
                                    {{'desktop.zm.menu.addWorkFlow' | translate}}
                                </md-tooltip>
                            </span>

                            <span
                                    ng-if="data.profile.prfMenu.templatesVisible"
                                    class="pull-left  spanNavIcon fa fa-vcard-o"
                                    ng-click="func.addTemplatesSearch(item)">
                                <md-tooltip  md-direction="bottom" >
                                    {{'desktop.zm.menu.template' | translate}}
                                </md-tooltip>
                            </span>

                            <span
                                    class="pull-left "
                                    style="border-left: 1px solid rgb(197, 197, 197); width: 1px; height: 30px; margin-top: 2px;">
                             </span>


                            <span
                                    ng-if="data.profile.prfMenu.prfHelp.webSiteVisible"
                                    class="pull-left  spanNavIcon fa fa-link"
                                    ng-click="func.addToRelations(item)">
                                <md-tooltip  md-direction="bottom" >
                                     {{'desktop.zm.menu.relation' | translate}}
                                </md-tooltip>
                            </span>



                            <span
                                    ng-if="item.type=='folder' && data.isItemInClipboard == true"
                                    class="pull-left  spanNavIcon fa fa-paste"
                                    ng-click="func.saveClipbBoardtems(item)">
                                <md-tooltip  md-direction="bottom" >
                                     الصاق
                                </md-tooltip>
                            </span>

                            <span
								ng-if="data.profile.prfTab.desktopVisible"
                               class="pull-left  spanNavIcon fa fa-share-square-o"
                               ng-click="func.go2Desktop(item)">
                                <md-tooltip  md-direction="bottom" >
                                     {{'search.zl.desktop' | translate}}
                                </md-tooltip>
                            </span>

                   </div>
               </div>

               <div class="form-group row col-sm-12 {{item.showDoc}}"  style="padding-right:0px;">

                   <div  class="search-image pull-right">
                       <img  ng-click="func.viewFile(item)" src="{{item.thumbnailSrc}}">
                   </div>
                   <div  class="pull-left" style="text-align: justify;width: calc(100% - 110px) ! important;">
                       <span
                               ng-class="{'half-span-viewer' : !data.showComplate}"
                               class="search-content pull-left"
                               style="font: 15px IRNazanin; overflow-x: hidden; overflow-y: auto; text-overflow: ellipsis; white-space: normal; text-align: justify; max-height: 60px;"
                               ng-bind-html=" item.excerpt | highlight: data.advanceOBJ.docName"></span><!--data.searchOBJ.mainSearch-->

                   </div>
                </div>

               <div class="form-group row col-sm-12 "  ng-if="data.showComplate">

                   <div style="cursor: pointer;" class="keyword-viewer"  ng-repeat="key in item.keywords  track by $index"  ng-click="func.addItemToFilter(key)">
                       <span  class="pull-right"   ng-bind="key.value"></span>
                       <i class="fa  pull-left"  ng-class="{'fa-tag':key.type == 'keyword','fa-file-text-o':key.type=='note'}"></i>
                       <md-tooltip  md-direction="top">
                           {{key.value}}
                       </md-tooltip>
                   </div>

               </div>

               <div class="advance-footer"></div>

           </div>
       </div>


       <table   ng-if="data.showType == 'table'"  class=" advance-background table table-responsive table-striped table-hover- table-condensed table-bordered ">
           <caption>
               <span  class="pull-right"  >نتایج جستجو</span>
           </caption>
           <thead>
           <tr style="height: 35px;">

               <th  class="position">
                   <span ng-bind="'search.zm.meta_table_rowId'|translate"></span>
               </th>
               <th  class="position">
                   <span  ng-bind="'dashboard.zr.list.back2desktop.header'|translate"></span>&nbsp;
               </th>
               <th  class="position">
                   <span  >نوع سند</span>&nbsp;
               </th>
               <th  class="position" ng-if="data.profile.prfMenu.prfHelp.webSiteVisible">
                   <span  >رابطه</span>&nbsp;
               </th>
               <th  class="position">
                   <span  >کپی-انتقال-الصاق</span>&nbsp;
               </th>
               <th class="position" ng-repeat="(headerKey,i) in data.headers">
                   <a href="javascript:void(0)" ng-click="func.orderBy(headerKey)">
                       <md-tooltip  md-direction="top">
                           {{i}}
                       </md-tooltip>
                       <span ng-show="data.sort.type == headerKey && !data.sort.ascDesc" class="fa fa-caret-down"></span>
                       <span ng-show="data.sort.type == headerKey && data.sort.ascDesc" class="fa fa-caret-up"></span>
                       <span ng-bind="i"></span>
                   </a>
               </th>
           </tr>
           </thead>
           <tbody>
           <tr class="cursor-tr select-table-tr" ng-repeat="item in data.list"><!-- |orderBy:data.sort.type:data.sort.ascDesc-->
               <td class="position">
                   <label      ng-bind="((data.itemsPagination.currentPage-1)*data.advanceOBJ.range+$index+1)|pNumber"></label>
               </td>
               <td class="position">
                   <span   style="font-size: 15px;  margin: 3px;cursor: pointer;"><!--ng-show = "item.list.type == 'document'"-->
                       <md-tooltip  md-direction="top">
                                                نمایش
                       </md-tooltip>
                       <i ng-click="func.viewFile(item.value || item)"  class="fa fa-eye"></i><!--.value-->
                   </span>
                   <span ng-click="func.go2Desktop(item,true)"   style="font-size: 15px;  margin: 3px;cursor: pointer;" ng-if="data.profile.prfTab.desktopVisible">
                       <md-tooltip  md-direction="top">
                           {{'dashboard.zr.list.back2desktop.toltip' | translate}}
                       </md-tooltip>
                       <i ng-click="func.go2Desktop(item,true)" class="fa  fa-share-square-o"></i>
                   </span>

               </td>
               <td class="position">
                           <span   style="font-size: 15px;  margin: 3px;cursor: pointer;">
                                <i
                                        class="fa  {{item.type}}">
                                </i>
                           </span>
               </td>
               <td class="position" ng-if="data.profile.prfMenu.prfHelp.webSiteVisible">
                           <span   style="font-size: 15px;  margin: 3px;cursor: pointer;"  ng-click="func.addToRelations(item.value)">
                                <i
                                        class="fa  fa-link">
                                </i>
                           </span>
               </td>
               <td class="position">

                        <span
                                style="font-size: 15px;  margin: 3px;cursor: pointer;"
                                ng-if="data.profile.prfMenu.prfEdit.copyVisible"
                                ng-click="func.copySearch(item.value)">
                            <i  class="fa  fa-copy"></i>
                            <md-tooltip  md-direction="bottom" >
                                {{'desktop.zm.menu.copy' | translate}}
                            </md-tooltip>
                        </span>

                        <span
                                style="font-size: 15px;  margin: 3px;cursor: pointer;"
                                ng-if="data.profile.prfMenu.prfEdit.moveVisible"
                                ng-click="func.cutSearch(item.value)">
                            <i  class="fa  fa-scissors"></i>
                            <md-tooltip  md-direction="bottom" >
                                {{'desktop.zm.menu.transfer' | translate}}
                            </md-tooltip>
                        </span>

                        <span
                                ng-if="item.value.type=='folder' && data.isItemInClipboard == true"
                                style="font-size: 15px;  margin: 3px;cursor: pointer;"
                                ng-click="func.saveClipbBoardtems(item.value)">
                            <i  class="fa  fa-paste"></i>
                            <md-tooltip  md-direction="bottom" >
                               الصاق
                            </md-tooltip>
                        </span>


               </td>
               <td  class="position justifyText" ng-repeat="i in item.list" >
                   <span ng-if="i.icon" class="show-label-in-tabel">
                       <i class="fa  {{i.icon}}"></i>
                   </span>
                   <span ng-if="i.value" class="show-label-in-tabel"   ng-bind="i.value|pNumber"></span>
               </td>
           </tr>
           </tbody>
       </table>
   </div>

   <div class="paginated-view  col-sm-12 row" style="max-height:50px;margin-top: 2px ! important;" ng-if="data.list.length>0">

        <div class="centered-pager" style="height:50px;overflow-y:auto;margin-top: -10px !important;padding:0px 7px;margin-top:-10px !important;" >

            <span
                    style="height: 33px; padding: 0px 4px 4px; vertical-align: middle; margin-top: 5px; margin-bottom: -6px; border-radius: 0px !important;"
                    class="btn  result-count  pull-right- total-view "  >
                             {{'search.zm.result_count'|translate}}&nbsp;:&nbsp;{{data.itemsPagination.totalItems|pNumber}}
            </span>

            <ul uib-pagination
                template-url = "ecma5/ExternalLiberary/HTML/pagination.html"
                ng-animate="'animate-show'"
                style=" margin: 5px !important;position: relative;bottom:6px;width:auto !important;"
                total-items="data.itemsPagination.totalItems"
                ng-model="data.itemsPagination.currentPage"
                max-size="data.itemsPagination.maxSize"
                items-per-page="data.advanceOBJ.range"
                ng-change="data.itemsPagination.pageChanged()"
                class="pagination-sm pull-left- pagination-management " boundary-links="true"
                first-text="|<"
                last-text=">|"
                next-text=">"
                previous-text="<"
            > </ul>
        </div>

    </div>

   <div class="not-result"   ng-class="{'display': data.isSearched && data.list.length<=0} ">

            <div class="col-sm-12"  style="padding-bottom: 10px; text-align: center;">
                <span   ng-click="data.itemsPagination.pageChanged()">
                    <i class="dashboard-refresh fa fa-refresh">
                        <md-tooltip  md-direction="top">
                            امتحان دوباره
                        </md-tooltip>
                    </i>
                </span>
            </div>
            <div class="col-sm-12"  style="text-align: center;">
                <span   style="cursor: pointer">
                    <i class="dashboard-ban fa fa-ban">
                    </i>
                </span>
                <span style="color: #893247; direction: ltr; font-size: 20px;"  ng-bind="'desktop.zm.create_doc_rel_modal_no_result_found'|translate"></span>
            </div>


    </div>

</div>